@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800&display=swap');
$font: 'Open Sans', 'Arial', sans-serif;
$primary-color: #01973d; // main green color
$secondary-color: #4788ff; // main blue color
$border-color: #cccccc;

html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  position: relative;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  background-color: #ffffff;
  color: #000000;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: $secondary-color;
  text-decoration: underline;
}

hr {
  display: block;
  width: 100%;
  height: 1px;
  background: #cccccc;
  border: 0;
}

h1, h2, h3, h4, h5 {text-rendering: optimizelegibility;text-transform: uppercase;line-height:1.6;margin:0;padding:0;}
h1 {font-size: 30px;}
h2 {font-size: 24px;}
h3 {font-size: 20px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}

%flex {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.inner {
  @extend %flex;
}

button,
.button {
  display: inline-block;
  position: relative;
  padding: 0 30px;
  background: #ffffff;
  color: $primary-color;
  border: 1px solid $primary-color;
  line-height: 38px;
  font-size: 14px;
  font-weight: 400;
  font-family: $font;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;
  letter-spacing: normal;
  text-transform: none;
  text-align: center;
  margin: 0;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  text-shadow: none;
  backface-visibility: hidden;
  transform: translateZ(0);
  appearance: none;
}
button:hover,
button.added,
.button:hover,
.button.added {
  background: $primary-color;
  color: #ffffff;
  border: 1px solid $primary-color;
  text-decoration: none;
}

select{
  cursor: pointer;
}

select,
input[type=text] {
  width: 100%;
  height: 30px;
  padding: 0 30px 0 10px;
  border: 1px solid $border-color;
  border-radius: 3px;
  color: #666666;
}
select:focus,
input[type=text]:focus {
  border: 1px solid $primary-color;
  outline: 0;
}

input.square {
  display: block;
  position: relative;
  float: left;
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
  background-color: #ffffff;
  border: 1px solid $border-color;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input.square:focus {
  outline: 0;
}

input.square:hover:after, input.square:checked:after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  background: $primary-color;
  margin: 2px;
  outline: 0;
}


header {
  padding: 10px 15px;
  background: #2c312e;
  .block-left {
    width: 40%;
    @extend %flex;
  }
  .block-right {
    width: 40%;
    @extend %flex;
    justify-content: flex-end;
    > div {
      margin-left: 20px;
    }
  }
  .block-center {
    width: 20%;
    text-align: center;
    a {
      display: inline-block;
      color: #ffffff;
      background: $secondary-color;
      padding: 5px 30px;
      border-radius: 5px;
      .count {
        margin-left: 10px;
        font-size: 16px;
        font-weight: 900;
      }
    }
  }
  .logo {
    margin-right: 30px;
  }
  .menu {
    @extend %flex;
    div {
      margin-right: 10px;
      a {
        display: block;
        padding: 5px 10px;
        color: #ffffff;
        text-transform: uppercase;
        border-radius: 5px;
        &:hover {
          color: #ffffff;
          background: $secondary-color;
          text-decoration: none;
        }
        &.router-link-exact-active {
          color: $secondary-color;
          background: #ffffff;
        }
      }
    }
  }
  .addto {
    .icon {
      display: inline-block;
      position: relative;
      width: 50px;
      height: 50px;
      background: $secondary-color;
      color: #ffffff;
      text-align: center;
      z-index: 2;
      border-radius: 100%;
      i {
        position: relative;
        margin: 10px 0 0 0;
        font-size: 30px;
        user-select: none;
        &.hide {
          display: none;
        }
      }
      &:hover,
      &.active,
      &:hover i,
      &.active i {
        background: #ffffff;
        color: $secondary-color;
        cursor: pointer;
      }
      &.active {
        transform: rotate(45deg);
      }
    }
    .content {
      display: none;
      position: absolute;
      top: 14px;
      right: -100%;
      width: 400px;
      height: 50px;
      line-height: 50px;
      background: #ffffff;
      border-radius: 25px;
      text-align: center;
      z-index: 1;
      .separator {
        display: inline-block;
        margin: 0 5px;
      }
      a {
        font-size: 13px;
      }
    }
    .content.active {
      display: block;
      right: 14px;
    }
  }
  .message {
    .count {
      font-size: 16px;
      font-weight: 900;
      color: #ffffff;
      background: $secondary-color;
      padding: 3px 8px;
      border-radius: 5px;
      vertical-align: middle;
      margin-left: 5px;
    }
  }
  label {
    color: #ffffff;
    vertical-align: middle;
  }
  i {
    color: #ffffff;
    vertical-align: middle;
    margin-right: 5px;
  }
}

footer {
  background: #2c312e;
  margin-top: 0;
  padding: 20px;
  a {
    color: #ffffff;
  }
  .block-left {
    width: 60%;
  }
  .block-right {
    width: 40%;
    text-align: right;
  }
  .menu {
    width: 100%;
    margin-bottom: 20px;
    @extend %flex;
    div {
      margin-right: 30px;
      line-height: 30px;
      a {
        display: block;
        color: #666666;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        &:hover {
          color: #4788ff;
        }
      }
    }
  }
  .submenu {
    width: 100%;
    @extend %flex;
    div {
      width: 33.333333%;
      a {
        display: block;
        color: #ffffff;
        line-height: 20px;
        padding: 5px 10px 5px 0;
        text-transform: none;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
  .copyright {
    color: #666666;
  }
  .phone {
    margin-bottom: 15px;
    a {
      display: block;
      font-size: 30px;
    }
  }
  .email {
    margin-bottom: 15px;
  }
  .contacts {
    margin-bottom: 15px;
  }
}

@media all and (max-width: 1440px) {
}

@media all and (max-width: 1199px) {
header .block-left {width: 50%;}
header .block-right {width: 30%;}
header .block-right .message, header .block-right .price-box {display: none;}
}

@media all and (max-width: 991px) {
footer .block-left {width: 100%;}
footer .block-right {width: 100%;text-align: left;margin-top: 20px;padding-top: 10px;border-top: 1px solid $border-color;}
header .menu {display: none;}
header .block-left {width: 30%;}
header .block-right {width: 50%;}
}

@media all and (max-width: 767px) {

}

@media all and (max-width: 641px) {
footer .menu div {width: 50%;margin-right: 0;}
footer .submenu div {width: 50%;}
header .block-left {width: 40%;}
header .block-center {display: none;}
header .block-right {width: 60%;}
header .addto .icon.active {transform: rotate(0deg);}
header .addto .icon i {display: none;}
header .addto .icon i.hide {display: inline-block;}
}

@media all and (max-width: 481px) {
footer .menu div {width: 100%;}
footer .submenu div {width: 100%;}
header .block-left {width: 20%;}
header .block-right {width: 80%;}
header .block-right .users .icon i {display: none;}
header .addto .content {width: 93%;}
header .addto .content a .label .hide {display: none;}
}

@media all and (min-width: 480px) {
.container {min-width: 450px;}
}

@media all and (min-width: 768px) {
.container {width: 750px;}
}

@media all and (min-width: 992px) {
.container {width: 970px;}
}

@media all and (min-width: 1200px) {
.container {width: 1170px;}
}

@media all and (min-width: 1440px) {

}