<template>
	<UIControlsBlock
		color='white'
	>
		<!-- <UIH4>{{title}}</UIH4> -->
		
		<!-- <pre>{{contractControl}}</pre> -->
		<Checkbox
			v-model='contractControl.isContract.value'
			v-bind='contractControl.isContract'
			style='margin-bottom: 15px;'
		></Checkbox>
		
		<div>
			<UIInputDate
				v-model='contractControl.from.value'
				v-bind='contractControl.from'
				style='margin-right: 0;'
			></UIInputDate>
			-
			<UIInputDate
				v-model='contractControl.to.value'
				v-bind='contractControl.to'
			></UIInputDate>
		</div>
		
		
		<!-- <UISelect
			v-model='contractControl.workPhase.value'
			v-bind='contractControl.workPhase'
		></UISelect>
		
		<UISelect
			v-model='contractControl.saleType.value'
			v-bind='contractControl.saleType'
		></UISelect> -->
		
	</UIControlsBlock>
</template>


<script>
export default {
	props:{
		contractControl: {},
		title: {}
	}
}
</script>
