<template>
	<UIControlsBlock
		class="block-agent-change"
	>
		<UIH4 v-if='clientChangeControl.label'>{{clientChangeControl.label}}</UIH4>
		
		<UIControlUserPhones
			v-bind='clientChangeControl.phones'
			v-bind:typesLogic='1'
		></UIControlUserPhones>
		
		<UIInputEmail
			v-model='clientChangeControl.emails.controlModels[0].email.value'
			v-bind='clientChangeControl.emails.controlModels[0].email'
		></UIInputEmail>
		
		<UIInput
			v-model='clientChangeControl.fio.value'
			v-bind='clientChangeControl.fio'
			style='width: 100%;'
		></UIInput>
		
		<UITextarea
			v-model='clientChangeControl.comment.value'
			v-bind='clientChangeControl.comment'
		></UITextarea>
		
		<UISelect
			v-model='clientChangeControl.infoOrigin.value'
			v-bind='clientChangeControl.infoOrigin'
		></UISelect>
		
		
		<UIButton>Найти клиента в базе</UIButton>
		
		<!-- <UISelectUserChange
			v-model='user.value'
			v-bind='user'
			v-bind:variantsUrlParams='variantsUrlParams'
			@input='_onUserChange'
			v-on:fetch-variants='_onFetchVariants'
			ref='UISelectUserChange'
		></UISelectUserChange> -->
	</UIControlsBlock>
</template>


<script>
export default {
	props: {
		clientChangeControl: {}
	}
}
</script>