<template>
	<UIControlsBlock
		class="block-agent-change"
		color='white'
	>
		<UIH4>{{title}}</UIH4>
		
		<BlockUserChange
			v-bind:variantsUrlParams="{whose: 'company'}"
			v-bind=userChangeControl
		></BlockUserChange>
	</UIControlsBlock>
</template>


<script>
export default {
	props:{
		userChangeControl: {},
		title: {}
	}
}
</script>




<style>
.block-agent-change .ui-select-expand__add{
	display: none;
}

.block-agent-change .ui-select-expand,
.block-agent-change .ui-select-expand .ui-select
{
	/*width: 100%;*/
}

</style>