<template>
	<div>
		<UIH4 v-if='title'>{{title}}</UIH4>
		
		<div style="display: flex; align-items: flex-end;"><!-- 
			<UISelectExpand
				v-model='user.value'
				v-bind:label='user.label'
				v-bind:variants='user.variants'
				v-on:add-click='_onAddClick'
			></UISelectExpand> -->
			
			<!-- <UISelectExpand
				v-model='user.value'
				v-bind='user'
				v-on:add-click='_onAddClick'
				v-bind:buttonTooltip="{
					title: 'Добавить сотрудника'
				}"
			></UISelectExpand> -->
			
			<UISelectUserChange
				v-model='user.value'
				v-bind='user'
				v-bind:variantsUrlParams='variantsUrlParams'
				@input='_onUserChange'
				v-on:fetch-variants='_onFetchVariants'
				ref='UISelectUserChange'
			></UISelectUserChange>
			
			<!-- photo:<pre>{{photo}}</pre> -->
			<UIContactAvatar
				v-bind:thumbnailSrc='photo && photo.thumbnail_path'
				v-bind:src='photo && photo.path'
				style='margin-left: 15px;'
			></UIContactAvatar>
			
		</div>
		
		<div>
			<UISelectRepeated
				v-for='(phone, index) in phones.controlModels'
				v-model='phone.value'
				v-bind='phone'
				v-bind:clearable='false'
			></UISelectRepeated>
			
			<UISelect
				v-model='email.value'
				v-bind='email'
			></UISelect>
		</div>
	</div>
</template>


<script>
import {fetch} from '@/common/utils.js';
import {
	AGENT_CREATE_VISIBLE
} from '@/store/mutations.type';

export default {
	props:{
		title:{},
		
		variantsUrl: {},
		variantsUrlParams: {},
		
		user:{
			default: ()=>{
				return {
					value: undefined,
					label: 'ФИО Пользователя',
					variants: [
						{label: 'Пользователь 1', value: 1},
						{label: 'Пользователь 2', value: 2},
						{label: 'Пользователь 3', value: 3},
					]
				}
			}
		},
		
		phones: {
			default(){
				return []
			}
		},
		
		email: {
			default(){
				return {
					value: undefined,
					label: 'E-mail',
					variants: [
						{value: '1@qwe.ty', label: '1@qwe.ty'},
						{value: '2@qwe.ty', label: '2@qwe.ty'},
						{value: '3@qwe.ty', label: '3@qwe.ty'},
					]
				}
			}
		},
	},
	
	data(){
		return {
			photo: {}
		}
	},
	
	computed:{
		userValue: self => self.user.value,
		// selectedUser: self => self.usersServer.find(user=>user.agent_id == self.userValue),
	},
	
	/*created(){
		// this.fetchVariants();
		// this.$root.$on('agent-save', params => this._onAgentSave(params))
		console.log(this);
	},*/
	
	watch:{
		/*usersServer(){
			this.user.setVariants(this.usersServer.map(user=>{
				return {
					value: user.agent_id,
					label: user.last_name + ' ' + user.first_name
				}
			}))
		},*/
		
		/*selectedUser(){
			console.log('selectedUser', this.selectedUser);
			this.email.setValue('');
			this.email.setVariants( this.selectedUser.emails.map(email=>{
				return {
					value: email.email_id,
					label: email.email
				}
			}) )
			
			this.phones.controlModels.forEach(v=>v.value = '');
			this.phones.setValue('');
			this.phones.setVariants( this.selectedUser.phones.map(phone=>{
				return {
					value: phone.agent_phone_id,
					label: phone.agent_phone_number,
					disabled: false
				}
			}) )
		}*/
		
		userValue(){
			// При закрытии попапа
			if (!this.userValue) {
				this.email.setVariants([]);
				this.phones.setVariants([]);
				this.photo = null;
				
				return;
			}
			
			let selectedUser = this.$refs.UISelectUserChange.getSelectedVariant();
			
			if (selectedUser) {
				this.setVariants(selectedUser);
			}
		}
	},
	
	methods:{
		setVariants(selectedUser){
			this.email.setVariants( selectedUser.emails.map(email=>{
				return {
					value: email.email_id,
					label: email.email
				}
			}) )
			// console.log('email variants', this.email.variants);
			if (this.email.variants[0]) {
				this.email.setValue(this.email.variants[0].value);
				
			} else {
				this.email.reset();
			}
			
			
			this.phones.setVariants( selectedUser.phones.map(phone=>{
				return {
					value: phone.phone_id,
					label: phone.phone_number,
					disabled: false
				}
			}) )
			
			this.phones.controlModels.forEach((cm, index)=>{
				// console.log(cm, index, cm.variants.length);
				let v = cm.variants[index];
				
				if (v) {
					cm.setValue(v.value);
					
				} else {
					cm.reset();
				}
			});
			
			this.photo = selectedUser.photo;
		},
		/*fetchVariants(){
			fetch({
				url: this.variantsUrl,
				withCredentials: true,
				// logUrl: true,
				params: this.variantsUrlParams,
				
			}).then(({response})=>{
				// console.log('response', response);
				this.usersServer = response;
				
			})
		},*/
		
		/*_onAddClick(){
			// console.log('_onAddClick');
			this.$store.commit(AGENT_CREATE_VISIBLE, true);
		},*/
		
		_onUserChange(value){
			
			// this.phones.setValue('');
		},
		
		_onFetchVariants(){
			let selectedUser = this.$refs.UISelectUserChange.getSelectedVariant();
			
			if (selectedUser) {
				this.setVariants(selectedUser);
			}
		}
		
		/*_onAgentSave(params){
			this.fetchVariants();
		}*/
	}
}
</script>