<template>
	<label
		v-if='visible'
		v-bind:class="{
			checkbox: true,
			'checkbox--disabled': disabled,
		}"
	>
		<input
			type="checkbox"
			v-bind:class="{
				checkbox__input: true,
			}"
			:checked='value'
			:disabled='disabled'
			@change='onChange'
		>
		<span
			v-bind:class="{
				checkbox__imitation: true,
				'checkbox__imitation--disabled': disabled
			}"
		>✔</span>
		{{label}}
		<slot></slot>
	</label>
</template>

<script>
export default {
	props: {
		value: {},
		disabled: {},
		label: {},
		visible: {default: true},
	},
	
	methods:{
		onChange(e){
			this.$emit('input', e.target.checked);
		}
	}
}
</script>

<style>
.checkbox{
	display: inline-block;
	margin-right: 5px;
	cursor: pointer;
	
	/*Отмена выделения*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkbox--disabled{
	color: #888;
}

.checkbox__input {
	display: none;
	background-color: white;
	width: 15px;
	height: 15px;
}

.checkbox__imitation {
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid green;
	border-radius: 2px;
	color: transparent;
	background-color: white;
	line-height: 1;
}

.checkbox__input:checked + .checkbox__imitation {
	color: black;
}

.checkbox__imitation--disabled {
	background-color: #dedede;
}

.checkbox__input:checked +.checkbox__imitation--disabled {
	color: #888;
}
</style>