<template>
	<div
		v-bind:class="['checkbox-triple', stateClass]"
		@click='onClick'
	>
		<span class="checkbox-triple__imitation checkbox-triple__true">✔</span>
		<span class="checkbox-triple__imitation checkbox-triple__false">✔</span>
		<span class="checkbox-triple__imitation checkbox-triple__not-full">✔
			<span class="checkbox-triple__square"></span>
		</span>
		<slot></slot>
	</div>
</template>

<script>

import {CHBX_TRPL_VALUES as VALUES} from './config';

export default {
	props: ['value'],
	
	data(){
		return {
			currentValue: this.value || VALUES.FALSE,
			
			
		}
	},
	
	watch:{
		value(newValue){
			this.currentValue = newValue;
		}
	},
	
	computed:{
		stateClass(){
			switch (this.currentValue) {
				case VALUES.TRUE:
					return 'checkbox-triple--true';
					
				case VALUES.FALSE:
					return 'checkbox-triple--false';
					
				case VALUES.NOT_FULL:
					return 'checkbox-triple--not-full';
			}
		}
	},
	
	methods:{
		onClick(){
			switch (this.currentValue) {
				case VALUES.TRUE:
					this.setFalse();
					break;
					
				case VALUES.FALSE:
				case VALUES.NOT_FULL:
					this.setTrue();
					break;
			}
		},
		
		setTrue(){
			this.currentValue = VALUES.TRUE;
			
			this.$emit('input', this.currentValue);
		},
		
		setFalse(){
			this.currentValue = VALUES.FALSE;
			
			this.$emit('input', this.currentValue);
		},
	}
}
</script>

<style>
.checkbox-triple{
	display: inline-block;
	cursor: pointer;
	
	/*Отмена выделения*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.checkbox-triple__imitation{
	display: inline-block;
	margin-right: 5px;
	width: 15px;
	height: 15px;
	border: 1px solid green;
	border-radius: 2px;
	color: transparent;
	background-color: white;
	line-height: 1;
}

.checkbox-triple__true{
	color: black;
}

.checkbox-triple__not-full{
	position: relative;
}

.checkbox-triple__square{
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	
	/*display: inline-block;*/
	/*width: 10px;*/
	/*height: 10px;*/
	/*margin: 1px 0 0 1px;*/
	background-color: green;
}

.checkbox-triple__true,
.checkbox-triple__false,
.checkbox-triple__not-full{
	display: none;
}

.checkbox-triple--true .checkbox-triple__true{
	display: inline-block;
}

.checkbox-triple--false .checkbox-triple__false{
	display: inline-block;
}

.checkbox-triple--not-full .checkbox-triple__not-full{
	display: inline-block;
}
</style>