<template>
	<div
		class='draggale-elems'
	>
		<slot name='draggable'></slot>
	</div>
	
</template>

<script>
/*
У перетаскиваемых элементов должен быть класс data.DRAGGABLE_CLASSNAME.
*/

import {getClosest, getCoords, indexAmongSiblings, hasParent} from '@/common/utils.js';

// При повторном использовании модуля не подписываться на события документа повторно
// let eventsInited = false;

export default {
	data(){
		return {
			DRAGGABLE_CLASSNAME: 'draggable-elems__draggable',
			NOT_CATCH_CLASSNAME: 'draggale-elems__not-catchable',
			SHIFT_BETWEEN_CATCH_AND_MOVE: 5,
			
			elCatched: null,
			// Следующий сосед в момент захвата
			elCatchedNextSibling: null,
			elCatchedParent: null,
			elAvatar: null,
			elCap: null,
			// Место откуда вынут перетаскиваемый элемент
			
			// Индекс, на котором находился элемент в момент захвата
			catchIndex: null,
			
			catchX: null,
			catchY: null,
			
			catchShiftX: null,
			catchShiftY: null,
			
		}
	},
	
	mounted(){
		// if (eventsInited) return;
		
		let EVENTS = {
			CATCH: 'mousedown',
			MOVE: 'mousemove',
			PUT: 'mouseup'
		};
		
		
		document.addEventListener(EVENTS.CATCH, e => this.onCatch(e));
		document.addEventListener(EVENTS.MOVE, e => this.onMove(e));
		document.addEventListener(EVENTS.PUT, e => this.onPut(e));
		
		// eventsInited = true;
	},
	
	methods: {
		onCatch(e){
			if (this.elCatched) return;
			
			let elNotCatchable = getClosest(e.target, this.NOT_CATCH_CLASSNAME);
			if (elNotCatchable) return;
			
			let elDraggable = getClosest(e.target, this.DRAGGABLE_CLASSNAME);
			if (!elDraggable) return;
			
			e.preventDefault();
			
			this.elCatched = elDraggable;
			this.elCatchedNextSibling = this.elCatched.nextSibling;
			this.elCatchedParent = this.elCatched.parentNode;
			
			if (this.elCatchedParent !== this.$el) {
				this.reset();
				return;
			}
			
			this.catchX = e.pageX;
			this.catchY = e.pageY;
		},
		
		onMove(e){
			if (!this.elCatched) return;
			
			if (!this.elAvatar) {
				if ( !this.isEnoughMoveAfterCatch(e) )
					return;
				
				this.catchIndex = indexAmongSiblings(this.elCatched);
				
				this.elAvatar = this.createElAvatar();
				this.elCap = this.createElCap();
				
				var coords = getCoords(this.elAvatar);
				this.catchShiftX = this.catchX - coords.left;
				this.catchShiftY = this.catchY - coords.top;
				
				
				document.body.appendChild(this.elAvatar);
				this.elAvatar.style.zIndex = 9999;
				this.elAvatar.style.position = 'absolute';
			}
			
			this.moveAvatar(e);
			this.moveCap(e);
		},
		
		onPut(){
			if (this.elAvatar) {
				if (this.elCap.parentNode) {
					this.elCap.parentNode.insertBefore(this.elAvatar, this.elCap.nextSibling);
					this.elCap.parentNode.removeChild(this.elCap);
					
				} else {
					this.elAvatar.rollback();
				}
				
				this.elAvatar.style.zIndex = '';
				this.elAvatar.style.position = '';
				
				
				this.$emit('moved', {
					el: this.elCatched,
					to: indexAmongSiblings(this.elCatched),
					from: this.catchIndex
				});
			}
			
			this.reset();
			
		},
		
		moveAvatar(e){
			this.elAvatar.style.left = e.pageX - this.catchShiftX + 'px';
			this.elAvatar.style.top = e.pageY - this.catchShiftY + 'px';
		},
		
		moveCap(e){
			let elDraggableUnderCursor = this.getDraggableUnderCursor(e);
			
			if (!elDraggableUnderCursor/* || elDraggableUnderCursor === this.elWhereFromRemoved*/) {
				this.elCatchedParent.insertBefore(this.elCap, this.elCatchedNextSibling);
				
				return;
			}
			
			// Запретить перетаскивание в соседние экземпляры компонента
			if ( !hasParent(elDraggableUnderCursor, this.elCatchedParent) ) {
				return;
			}
			
			let coords = elDraggableUnderCursor.getBoundingClientRect();
			
			let leftSideWidth = e.clientX - coords.left;
			let rightSideWidth = coords.right - e.clientX;
			
			// Если курсор в левой части перетаскиваемого - поместить заглушку перед ним
			if (leftSideWidth < rightSideWidth) {
				elDraggableUnderCursor.parentNode.insertBefore(this.elCap, elDraggableUnderCursor);
			
			// Иначе вставить после него
			} else {
				elDraggableUnderCursor.parentNode.insertBefore(this.elCap, elDraggableUnderCursor.nextSibling);
					
			}
		},
		
		getDraggableUnderCursor(e){
			this.elAvatar.hidden = true;
			
			let display = this.elAvatar.style.display;
			this.elAvatar.style.display = 'none';
			
			// получить самый вложенный элемент под курсором мыши
			var elem = document.elementFromPoint(e.clientX, e.clientY);
			
			// показать переносимый элемент обратно
			this.elAvatar.hidden = false;
			this.elAvatar.style.display = display;
			
			if (elem == null) {
				// такое возможно, если курсор мыши "вылетел" за границу окна
				return null;
			}
			
			return getClosest(elem, this.DRAGGABLE_CLASSNAME);
		},
		
		isEnoughMoveAfterCatch(e){
			if ( Math.abs(this.catchX - e.pageX) > this.SHIFT_BETWEEN_CATCH_AND_MOVE )
				return true;
			
			if ( Math.abs(this.catchY - e.pageY) > this.SHIFT_BETWEEN_CATCH_AND_MOVE )
				return true;
			
			return false;
		},
		
		createElAvatar(){
			let elAvatar = this.elCatched;
			
			// запомнить старые свойства, чтобы вернуться к ним при отмене переноса
			var old = {
				parent: elAvatar.parentNode,
				nextSibling: elAvatar.nextSibling,
				position: elAvatar.position || '',
				left: elAvatar.left || '',
				top: elAvatar.top || '',
				zIndex: elAvatar.zIndex || ''
			};

			// функция для отмены переноса
			elAvatar.rollback = function() {
				old.parent.insertBefore(elAvatar, old.nextSibling);
				elAvatar.style.position = old.position;
				elAvatar.style.left = old.left;
				elAvatar.style.top = old.top;
				elAvatar.style.zIndex = old.zIndex
			};

			return elAvatar;
		},
		
		createElCap(){
			let cap = this.elAvatar.cloneNode(true);
			cap.style.opacity = .3;
			return cap;
		},
		
		reset(){
			this.catchIndex = null;
			
			this.elCatched = null;
			this.elAvatar = null;
			this.elCap = null;
			
			this.catchX = null;
			this.catchY = null;
			
			this.catchShiftX = null;
			this.catchShiftY = null;
		}
	}
}
</script>

<style>
.draggable-elems__draggable{
	display: inline-block;
}

.draggable-elems__draggable:not(.draggale-elems__not-catchable) {
	cursor: move;
}
</style>