<template>
<div
	v-bind:class="{
		dropdown: true,
	}"
	
	v-on:mousedown='_onClick'
>
	<ul
		ref='dropdown'
		
		v-bind:class="{
			'dropdown__list': true,
			'dropdown__list--opened': isOpened
		}"
	>
		<li
			v-for='v in variants'
			v-bind:class="{
				'dropdown__item': true,
				'dropdown__coursor': v === coursor.variant
			}"
			v-bind:data-variant-value='v.value'
		>{{v.text}}</li>
	</ul>
</div>
</template>

<script>
/*
Селать навигацию по выпадающим пунктам кнопками вниз/вверх.
При нажатии вниз:
	Если курсор не установлен ни на каком варианте - установить его на самый верхний.
	Иначе если курсор на самом нижнем варианте, то ничего не далать.
	Иначе - перемещать курсор на 1 пункт вниз.
При нажатии вверх:
	Если курсор не установлен ни на каком варианте - установить его на самый нижний.
	Иначе если курсор на самом верхнем варианте, то ничего не делать.
	Иначе - перемещать курсор на 1 пункт вверх.

Установить скролл так, чтобы вариант под курсором был в видимой области:
	При перемещении вниз:
		Если курсор в видимой области, то ничего не далать.
		Иначе если курсор ниже видимой области, то установить скролл так, чтобы курсор был внизу видимой области.
	При перемещении вверх:
		Если курсор в видимой области, то ничего не далать.
		Иначе если курсор выше видимой области, то установить скролл так, чтобы курсор был вверху видимой области.
		
При нажатии на ентер - выбрать вариант под курсором, закрыть выпавший список и обнулить положение курсора.

*/
const KEYS = {
	DOWN: 40,
	UP: 38,
	ENTER: 13,
	ESC: 27
};

export default{
	props: ['variants'],
	
	data(){
		return {
			isOpened: false,
			
			coursor: {variant: null},
			onKeydown: null
		};
	},
	
	watch:{
		variants(){
			this.coursor.variant = null;
		}
	},
	
	methods:{
		_onClick(e){
			let varaintValue = e.target.dataset.variantValue;
			
			if (varaintValue) {
				this.$emit('variant-select', this.variants.find(v => v.value == varaintValue));
			}
		},
		
		_onKeydown(e){
			switch(e.keyCode) {
				case KEYS.DOWN:
					if ( !this.coursorIsOnLastVariant() ) {
						this.coursorMoveDown();
						
						// Подождать пока отрисуется вариант под курсором
						setTimeout(()=>{
							if ( !this.coursorIsVisible() ) {
								this.coursorScrollBottom();
							}
						})
					}
					
					
					break;
					
				case KEYS.UP:
					if ( !this.coursorIsOnFirstVariant() ) {
						this.coursorMoveUp();
						
						setTimeout(()=>{
							if ( !this.coursorIsVisible() ) {
								this.coursorScrollTop();
							}
						})
					}
					
					
					break;
					
				case KEYS.ENTER:
					if (this.coursor.variant) {
						this.coursorSelect();
					}
					
					break;
					
				case KEYS.ESC:
					this.close();
					break;
					
			}
		},
		
		open(){
			this.isOpened = true;
			
			if (!this.onKeydown) {
				this.onKeydown = e => this._onKeydown(e);
				document.addEventListener('keydown', this.onKeydown);
			}
			
		},
		
		close(){
			// this.setVariants([]);
			this.isOpened = false;
			
			this.coursor.variant = null;
			// this.$refs.dropdown.focus();
			document.removeEventListener('keydown', this.onKeydown);
			this.onKeydown = null;
		},
		
		coursorSetVariant(variant){
			this.coursor.variant = variant;
		},
		
		coursorMoveDown(){
			// Если курсор не установлен - установить его на первый вариант
			if (this.coursor.variant) {
				let nextVariant = this.coursorNextVariant();
				
				if (nextVariant) {
					this.coursorSetVariant(nextVariant);
				}
				
			} else {
				this.coursor.variant = this.variants[0];
			}
		},
		
		coursorMoveUp(){
			// Если курсор не установлен - установить его на последний вариант
			if (this.coursor.variant) {
				let prevVariant = this.coursorPrevVariant();
				
				if (prevVariant) {
					this.coursorSetVariant(prevVariant);
				}
				
			} else {
				this.coursor.variant = this.variants[this.variants.length - 1];
			}
		},
		
		coursorSelect(){
			this.$emit('variant-select', this.coursor.variant);
		},
		
		coursorIsVisible(){
			// 1. Посчитать сумму высот всех предыдущих вариантов
			let prevVariantsHeight = 0;
			let variantUnderCursorHeight = 0;
			
			let elemsVariants = this.$el.querySelectorAll('.dropdown__item');
			
			for (var i = 0; i < elemsVariants.length; i++) {
				let elem = elemsVariants[i];
				
				if (elem.classList.contains('dropdown__coursor')) {
					variantUnderCursorHeight = elem.offsetHeight;
					break;
				}
				
				prevVariantsHeight += elem.offsetHeight;
			}
			
			// 2. Взать высоту видимой области
			let visibleWindowHeight = this.$refs.dropdown.clientHeight;
			// 3. Если сумма высот вариантов  + высота варианта под курсором минус прокрутка сверху больше видимой области, то курсор не виден
			let scrollTop = this.$refs.dropdown.scrollTop
			
			if (prevVariantsHeight + variantUnderCursorHeight - scrollTop > visibleWindowHeight) {
				return false;
				
			// 4. Если сумма высот меньше чем прокручено сверху - то курсор не виден
			} else if (prevVariantsHeight < scrollTop) {
				return false;
				
			}
			
			// 5. Иначе курсор виден
			return true;
		},
		
		coursorScrollBottom(){
			if (this.coursor.variant === this.variants[this.variants.length - 1]) {
				// Костыль - последний вариант криво прокручивается
				this.$refs.dropdown.scrollTop = this.$refs.dropdown.scrollHeight;
				return;
			}
			
			let newScrollTop = 0;
			let elemsVariants = this.$el.querySelectorAll('.dropdown__item');
			
			for (var i = 0; i < elemsVariants.length; i++) {
				let elem = elemsVariants[i];
				
				newScrollTop += elem.offsetHeight;
				
				if (elem.classList.contains('dropdown__coursor')) {
					break;
				}
			}
			
			newScrollTop -=  this.$refs.dropdown.clientHeight;
			
			this.$refs.dropdown.scrollTop = newScrollTop;
		},
		
		coursorScrollTop(){
			// 1. Посчитать сумму высот всех предыдущих вариантов
			let newScrollTop = 0;
			let elemsVariants = this.$el.querySelectorAll('.dropdown__item');
			
			for (var i = 0; i < elemsVariants.length; i++) {
				let elem = elemsVariants[i];
				
				if (elem.classList.contains('dropdown__coursor')) {
					break;
				}
				
				newScrollTop += elem.offsetHeight;
			}
			
			// newScrollTop -=  this.$refs.dropdown.clientHeight;
			
			this.$refs.dropdown.scrollTop = newScrollTop;
		},
		
		coursorIsOnLastVariant(){
			if (this.coursor.variant === null) return false;
			return this.coursor.variant === this.variants[this.variants.length - 1];
		},
		
		coursorIsOnFirstVariant(){
			if (this.coursor.variant === null) return false;
			return this.coursor.variant === this.variants[0];
		},
		
		coursorNextVariant(){
			return this.variants[this.variants.indexOf(this.coursor.variant) + 1]
		},
		
		coursorPrevVariant(){
			return this.variants[this.variants.indexOf(this.coursor.variant) - 1]
		},
		
		
		
		/*setVariants(variants){
			this.variants = variants;
		},*/
	}
}
</script>

<style>
.dropdown{
	position: relative;
}

.dropdown__list{
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
	
	max-height: 300px;
	overflow: auto;
	
	margin: 0;
	padding: 5px;
	
	border: 1px solid #ebeef5;
	border-radius: 5px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
	
	background-color: white;
	/*outline: 2px solid blue;*/
	display: none;
}

.dropdown__list--opened{
	display: block;
}

.dropdown__item{
	padding: 5px;
	list-style: none;
	cursor: pointer;
	/*outline: 2px solid green;*/
}

.dropdown__coursor,
.dropdown__item:hover{
	background: #ccf;
}

.dropdown__item:not(:last-child){
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	
}

.dropdown__item:not(:first-child){
	padding-top: 10px;
	
}
</style>