<!-- 
Использование:

<FieldYearQuarter
	v-bind:quarter='fromQuarter'
	v-on:quarter-change='fromQuarter=arguments[0]'
	
	v-bind:year='fromYear'
	v-on:year-change='fromYear=arguments[0]'
	
	placeholder='Срок сдачи от'
>Срок сдачи от</FieldYearQuarter>
 -->

<template>
	<div
		v-if='visible'
		v-bind:class="{
			'field-year-quarter': true,
			'field-year-quarter--placeholder': year === undefined && quarter === undefined,
			'field-year-quarter--disabled': !enabled,
			'control--disabled': !enabled,
		}">
		
		<span
			v-bind:class="{
				'field-year-quarter__window': true,
				'field-year-quarter__window--disabled': !enabled,
				'field-year-quarter__window--not-empty': !(year === undefined && quarter === undefined),
				
				control: true,
				'control__placeholder': year === undefined && quarter === undefined,
				'control--disabled': !enabled,
				
			}"
			@click='_onOpenClick'
		>
			{{visibleValue}} 
			<i class="el-icon-date field-year-quarter__icon-date"></i>
			<i
				class="el-icon-circle-close field-year-quarter__icon-close"
				@click='clear()'
			></i>
		</span>
		
		<div v-if='opened' class="field-year-quarter__controls">
			<div class="field-year-quarter__year">
				<span
					@click='onYearDecrlick'
					v-bind:class="{
						'field-year-quarter__year_btn': true,
						'control--disabled': yearDropdown <= yearMin,
						'field-year-quarter__year_btn--disabled': yearDropdown <= yearMin,
						
					}"
				><</span>
				<span>{{yearDropdown}}</span>
				<span
					@click='onYearIncClick'
					v-bind:class="{
						'field-year-quarter__year_btn': true,
						'control--disabled': yearDropdown >= yearMax,
						'field-year-quarter__year_btn--disabled': yearDropdown >= yearMax,
					}"
				>></span>
			</div>
			
			<hr>
			
			<table
				@click='onQuarterClick'
				v-bind:class='selectedQuarterClass'
			>
				<tr>
					<td
						v-bind:class="{
							'field-year-quarter__quarter': true,
							'field-year-quarter__quarter--disabled': !_isQuarterEnabled(1),
							'control--disabled': !_isQuarterEnabled(1),
						}"
						data-quarter='1'
					>Ⅰ квартал</td>
					
					<td
						v-bind:class="{
							'field-year-quarter__quarter': true,
							'field-year-quarter__quarter--disabled': !_isQuarterEnabled(2),
							'control--disabled': !_isQuarterEnabled(2),
						}"
						data-quarter='2'
					>Ⅱ квартал</td>
				</tr>
				
				<tr>
					<td
						v-bind:class="{
							'field-year-quarter__quarter': true,
							'field-year-quarter__quarter--disabled': !_isQuarterEnabled(3),
							'control--disabled': !_isQuarterEnabled(3),
						}"
						data-quarter='3'
					>Ⅲ квартал</td>
					
					<td
						v-bind:class="{
							'field-year-quarter__quarter': true,
							'field-year-quarter__quarter--disabled': !_isQuarterEnabled(4),
							'control--disabled': !_isQuarterEnabled(4),
						}"
						data-quarter='4'
					>Ⅳ квартал</td>
				</tr>
			</table>
		</div>
	</div>
</template>

<script>
import {hasParent} from '@/common/utils';


export default {
	props: {
		visible: {
			type: Boolean,
			default: true
		},
		
		enabled: {
			default: true
		},
		
		year: {},
		yearMin: {},
		yearMax: {},
		
		quarter: {},
		quarterMin: {default: Number},
		quarterMax: {default: Number},
		
		placeholder: {
			default: ''
		}
	},
	
	data(){
		return {
			yearDropdown: new Date().getFullYear(),
			opened: false
		}
	},
	
	watch:{
		enabled(){
			if (!this.enabled) {
				this.$emit('quarter-change', undefined);
				this.$emit('year-change', undefined);
				
			} else {
				// this.$emit('year-change', new Date().getFullYear());
				this.yearDropdown = new Date().getFullYear();
				
			}
		},
		
		yearDropdown(){
			console.log(this.yearDropdown);
			if (this.yearDropdown === this.yearMin) {
				
				if ( this.quarterMin && this.quarter < this.quarterMin ) {
					this.$emit('quarter-change', this.quarterMin);
					
				} 
			}
			
			if (this.yearDropdown === this.yearMax) {
				if ( this.quarterMax && this.quarter > this.quarterMax ) {
					
					this.$emit('quarter-change', this.quarterMax);
				}
				
			}
		},
		
		yearMin(){
			if (this.yearDropdown < this.yearMin) {
				this.yearDropdown = this.yearMin;
			}
		},
		
		yearMax(){
			if (this.yearDropdown > this.yearMax) {
				this.yearDropdown = this.yearMax;
			}
		}
	},
	
	computed: {
		visibleQuarter() {
			return ['Ⅰ', 'Ⅱ', 'Ⅲ', 'Ⅳ'][this.quarter - 1] || '';
		},
		
		visibleValue() {
			if (this.year === undefined && this.quarter === undefined) {
				return this.placeholder;
			}
			
			var result = '';
			
			if (this.year)
				result += this.year;
			
			if (this.year && this.quarter)
				result += ', ';
			
			if (this.quarter)
				result += this.visibleQuarter + ' квартал';
			
			return result;
		},
		
		selectedQuarterClass(){
			return 'field-year-quarter__quarter-' + this.quarter;
		},
		
		placeholderClass: self => (self.year === undefined || self.quarter === undefined) ? 'field-year-quarter--placeholder' : '',
	},
	
	methods:{
		onQuarterChange(){
			// this.yearQuarter.success = true;
		},
		
		onQuarterClick(e){
			if (!e.target.dataset.quarter) return;
			
			let quarter = +e.target.dataset.quarter;
			
			if ( !this._isQuarterEnabled(quarter) ) return;
			
			// this.quarter = +e.target.dataset.quarter;
			this.$emit('quarter-change', quarter);
			this.$emit('year-change', this.yearDropdown);
		},
		
		onYearIncClick(){
			if (this.yearMax && this.yearDropdown >= this.yearMax) return;
			// if (this.yearMax && this.year >= this.yearMax) return;
			
			this.yearDropdown++;
			this.$emit('year-change', this.yearDropdown);
			// this.$emit('year-change', this.year + 1);
		},
		
		onYearDecrlick(){
			if (this.yearMin && this.yearDropdown <= this.yearMin) return;
			// if (this.yearMin && this.year <= this.yearMin) return;
			
			this.yearDropdown--;
			this.$emit('year-change', this.yearDropdown);
		},
		
		_onOpenClick(e){
			if ( e.target.classList.contains('field-year-quarter__icon-close') ) return;
			
			this.open();
		},
		
		open(){
			if (!this.enabled) return;
			
			this.opened = true;
			
			let self = this;
			document.addEventListener('click', close);
			
			function close(e) {
				if ( hasParent(e.target, self.$el) ) {
					return;
				}
				
				self.opened = false;
				document.removeEventListener('click', close);
			}
		},
		
		clear(){
			this.$emit('quarter-change', undefined);
			this.$emit('year-change', undefined);
		},
		
		_isQuarterEnabled(quarterValue){
			quarterValue = +quarterValue;
			
			if (this.quarterMin && this.yearMin) {
				
				if (this.yearMin && this.yearDropdown <= this.yearMin) {
					
					if (quarterValue < this.quarterMin) return false;
				}
				
			}
			
			if (this.quarterMax) {
				
				if (this.yearMax && this.yearDropdown >= this.yearMax) {
					
					if (quarterValue > this.quarterMax) return false;
				};
			}
			
			return true;
		}
	}
}
</script>

<style>
.field-year-quarter{
	display: inline-block;
	position: relative;
	
	/*Отмена выделения*/
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.field-year-quarter__window{
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	/*cursor: pointer;*/
}

.field-year-quarter__window:hover{
	background-color: #ecf5ff;
}

.field-year-quarter__window--disabled{
	/*background-color: #eee;
	color: #bbb;
	cursor: default;*/
}

.field-year-quarter__window--disabled:hover{
	/*background-color: #eee;
	color: #bbb;*/
}

.field-year-quarter__window--not-empty .field-year-quarter__icon-date {
	display: none;
}

.field-year-quarter__window .field-year-quarter__icon-close {
	display: none;
}

.field-year-quarter__window--not-empty .field-year-quarter__icon-close {
	display: inline-block;
}

.field-year-quarter--placeholder .field-year-quarter__window {
	/*color: #ccc;*/
}

.field-year-quarter__controls{
	position: absolute;
	z-index: 1;
	top: 40px;
	left: 0;
	width: 200px;
	border: 1px solid black;
	border-radius: 3px;
	background-color: white;
}

.field-year-quarter__year {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	font-weight: bold;
}

.field-year-quarter__year_btn{
	cursor: pointer;
}

.field-year-quarter__year_btn--disabled,
.field-year-quarter__year_btn--disabled:hover{
	background-color: white;
}

.field-year-quarter__quarter{
	cursor: pointer;
}

.field-year-quarter__quarter:hover{
	background: green;
	color: white;
}

.field-year-quarter__quarter--disabled,
.field-year-quarter__quarter--disabled:hover{
	/*background-color: #eee;
	color: #bbb;
	cursor: default;*/
}

.field-year-quarter__quarter-1 [data-quarter='1'],
.field-year-quarter__quarter-2 [data-quarter='2'],
.field-year-quarter__quarter-3 [data-quarter='3'],
.field-year-quarter__quarter-4 [data-quarter='4'] {
	background-color: green;
	color: white;
}
</style>