<template>
	<div
		v-bind:hidden='!isVisible'
		v-bind:style='style'
	>{{title}}</div>
</template>

<script>
import {getCoords} from '@/common/utils.js';

export default {
	props: ['title', 'visible', 'position'],
	
	mounted(){
		this.anchor = this.$parent.$el;
	},
	
	data(){
		return {
			style: {
				position: 'absolute',
				'z-index': 1000,
				background: 'white',
				'text-align': 'center',
				color: 'red'
			},
			
			defaultPosition: 'bottom-out',
			anchor: undefined,
			
		}
	},
	
	computed: {
		isVisible(){
			let visible = this.visible;
			
			if (!this.anchor) return false;
			
			
			
			this.refreshPosition();
			
			
			
			return visible;
		},
	},
	
	methods: {
		refreshPosition() {
			let position = this.position || this.defaultPosition;
			
			if (!this.anchor) return;
			
			var anchorCoords = getCoords(this.anchor);
			
			switch (position) {
				case "top-out":
					this.style.left = anchorCoords.left + "px";
					this.style.top = anchorCoords.top - elem.offsetHeight + "px";
					break;
					
				case "right-out":
					this.style.left = anchorCoords.left + this.anchor.offsetWidth + "px";
					this.style.top = anchorCoords.top + "px";
					break;
					
				case "bottom-out":
					this.style.left = anchorCoords.left + "px";
					this.style.top = anchorCoords.top + this.anchor.offsetHeight + "px";
					break;
					
				case "top-in":
					this.style.left = anchorCoords.left + "px";
					this.style.top = anchorCoords.top + "px";
					break;
					
				case "right-in":
					this.style.width = '150px';
					this.style.left = anchorCoords.left + this.anchor.offsetWidth - elem.offsetWidth + "px";
					this.style.top = anchorCoords.top + "px";
					break;
					
				case "bottom-in":
					this.style.left = anchorCoords.left + "px";
					this.style.top = anchorCoords.top + this.anchor.offsetHeight - elem.offsetHeight + "px";
					break;
			}
		}
	}
}




		

		// /**
		//  * Показывает заметку с текстом html на позиции position
		//  * относительно элемента anchor
		//  */
		// function showNote(anchor, position, html) {

		// 	var note = document.createElement('div');
		// 	note.className = "note";
		// 	note.innerHTML = html;
		// 	document.body.appendChild(note);
		// 	positionAt(anchor, position, note);
		// }

		// // // проверка работоспособности
		// // var blockquote = document.querySelector('blockquote');

		// // showNote(blockquote, "top", "заметка сверху");
		// // showNote(blockquote, "right", "заметка справа");
		// // showNote(blockquote, "bottom", "заметка снизу");
</script>