<template>
	<!-- <input-number
		:value='inputValue'
		@input='onInput'
		:disabled='disabled'
		v-bind:decimalDelimiter='DECIMAL_DELIMITER'
		v-on:focus='$emit("focus", arguments[0]);'
		v-on:blur='$emit("blur", arguments[0]);'
	></input-number> -->
	<span
		v-bind:class='{
			"input-field": true,
			"input-field--clearable": clearable
		}'
	>
		<input
			type="text"
			v-bind:class='{
				input: true,
				"input--error": isError,
			}'
			:value='inputValue'
			ref='input'
			@input='onInput'
			@keydown='onKeydown'
			:disabled='disabled'
			v-on:focus='$emit("focus", arguments[0]);'
			v-on:blur='$emit("blur", arguments[0]);'
		>
		
		<i
			v-bind:class="{
				'el-icon-circle-close': true,
				'input-field__clear': true,
				'input-field__clear--active': isClearable
			}"
			@click='_onClearClick'
		></i>
	</span>
</template>

<script>

// import InputNumber from './InputNumber.vue';
import {getCaretPosition, setCaretPosition} from '@/common/utils.js';

export default {
	props: ['value', 'disabled', 'decimalDelimiter', 'min', 'max', 'isError', 'clearable'],
	
	data(){
		return {
			DECIMAL_DELIMITER: this.decimalDelimiter || ',',
			DIGIT_DELIMITER: ' ',
			// decimalDelimiterPos: null
			
			cursorPosOnKeydown: 0,
			moneyPrev: null
		}
	},
	
	computed: {
		inputValue(){
			
			if (this.value !== undefined) {
				// console.log('programming input', this.value, this.toMoney(this.value));
				return this.toMoney(this.value).spaced;
			}
		},
		
		isClearable(){
			if (!this.clearable) return false;
			
			
			if (this.value === undefined) return false;
			
			return true;
		}
	},
	
	methods:{
		onInput(){
			// let newValue = this.$refs.input.value;
			// console.log('newValue', newValue);
			
			if (this.$refs.input.value === '') {
				this.$emit("input", undefined);
				return;
			}
			
			let money = this.toMoney();
			
			// console.log(2, this.$refs.input.value);
			// Установить курсор в нужное место
			// console.log(this.$el);
			let caret = this.getNewCaret(money);
			
			this.$refs.input.value = money.spaced;
			setCaretPosition(this.$el, caret, caret);
			// console.log('emit', money.value);
			let newValue = money.value.replace(/,/g, '.');
			this.$emit("input", Number(newValue));
			// console.log(3, this.$refs.input.value);
			
			this.moneyPrev = money;
		},
		
		onKeydown(){
			this.cursorPosOnKeydown = getCaretPosition(this.$el).start;
		},
		
		_onClearClick(){
			this.$emit("input", undefined);
			this.$refs.input.focus();
		},
		
		setSpaces(str){
			let newStr = '';
			
			let delimiterCounter = 0;
			for (let i = str.length-1; i >= 0; i--) {
				let char = str[i];
				delimiterCounter++;
				
				newStr = char + newStr;
				if (delimiterCounter === 3) {
					newStr = this.DIGIT_DELIMITER + newStr;
					delimiterCounter = 0;
				}
				
			}
			
			return newStr.trim();
		},
		
		toMoney(str){
			// console.log(this.min, this.max);
			let money = {};
			
			money.str = this.toString(str);
			
			
			let isEndingPoint = money.str.slice(-1) === this.DECIMAL_DELIMITER;
			
			
			// Разделить целую часть от дробной
			let intFraction = money.str.split(this.DECIMAL_DELIMITER);
			// console.log(str, intFraction);
			money.int = intFraction[0];
			money.fraction = intFraction[1];
			// console.log(str, money.int, money.fraction);
			
			// console.log(money.int, '|', money.fraction);
			
			// Расставить пробелы в целой части
			money.intSpaced = this.setSpaces(money.int);
			
			money.value = money.int;
			money.spaced = money.intSpaced;
			
			if (money.fraction) {
				// Ограничить дробную часть двумя знаками
				money.fraction = money.fraction.slice(0, 2);
				
				money.value += this.DECIMAL_DELIMITER + money.fraction;
				money.spaced += this.DECIMAL_DELIMITER + money.fraction;
				
			} else if (isEndingPoint) {
				money.value += this.DECIMAL_DELIMITER;
				money.spaced += this.DECIMAL_DELIMITER;
			}
			
			// console.log(money);
			return money;
		},
		
		toString(str){
			str = str === undefined ? this.$refs.input.value : str;
			
			str = String(str);
			
			str = this._toDecimalDelimiter(str);
			str = this._cutLetters(str);
			
			// Если в новом значении есть больше одной точки, то узнать какая из них новая и удалить ее.
			let afterDeleteDelimiter = this._cutSecondDecimalDelimier(str);
			str = afterDeleteDelimiter.newStr;
			
			str = str.replace(/\s/g, '');
			
			let num = this.toNumber(str);
			
			if (num > this.max) {
				num = this.max;
				
			} else if (num < this.min) {
				num = this.min;
			}
			
			let isEndingPoint = str.slice(-1) === this.DECIMAL_DELIMITER;
			
			str = String(num);
			
			if (isEndingPoint) {
				str += this.DECIMAL_DELIMITER;
				
			} else {
				str = str.replace(/\./g, this.DECIMAL_DELIMITER);
			}
			
			return str;
		},
		
		toNumber(str){
			str = (str === undefined) ? this.toString() : str;
			
			return Number( str.replace(/,/g, '.') );
		},
		
		getNewCaret(money){
			
			let valueNotChanged = !!this.moneyPrev && money.value === this.moneyPrev.value;
			// console.log(money.value, this.moneyPrev && this.moneyPrev.value, valueNotChanged);
			
			if (valueNotChanged) {
				let cursorPos = this.cursorPosOnKeydown;
				
				let isEndingPoint = money.str.slice(-1) === this.DECIMAL_DELIMITER;
				
				if (isEndingPoint) cursorPos++;
				
				return cursorPos;
			}
			
			let caret = getCaretPosition(this.$el).start;
			
			let inputValue = this.$refs.input.value;
			
			let beforeCaret = inputValue.slice(0, caret);
			
			let beforeCaretNumber = beforeCaret.replace(/\s/g, '');
			beforeCaretNumber = beforeCaretNumber.replace(/,/g, '.');
			let commasCount = beforeCaretNumber.match(/\./g);
			
			let lettersBeforeCaret = beforeCaretNumber.length;
			
			if (commasCount === 2) {
				lettersBeforeCaret--;
			}
			
			// console.log(/*inputValue, '|', money.spaced, '|', */beforeCaretNumber);
			
			let newCaret = 0;
			
			for(let i = 0; i < lettersBeforeCaret; i++) {
				if (money.spaced[newCaret] === ' ') {
					newCaret++;
				}
				
				newCaret++;
			}
			
			// console.log(beforeCaretNumber, newCaret, money.spaced.slice(0, newCaret));
			
			return newCaret;
		},
		
		_toDecimalDelimiter(value){
			let NOT_DECIMAL_DELIMITER = this.DECIMAL_DELIMITER === '.' ? ',' : '.';
			let re = new RegExp('\\' + NOT_DECIMAL_DELIMITER, 'g');
			let newValue = String(value).replace(re, this.DECIMAL_DELIMITER);
			
			return newValue;
		},
		
		_cutLetters(str){
			return str.replace(/[^\d,.]/g, '')
		},
		
		_cutSecondDecimalDelimier(str){
			let delimiter1 = str.indexOf(this.DECIMAL_DELIMITER);
			let delimiter2 = str.lastIndexOf(this.DECIMAL_DELIMITER);
			let delimitersCount;
			let deletedDelimiter;
			
			
			if (delimiter1 === -1) {
				delimitersCount = 0;
				
			} else if (delimiter1 === delimiter2) {
				delimitersCount = 1;
				
			} else {
				delimitersCount = 2;
			}
			
			
			switch(str, delimitersCount){
				case 0:
					this.decimalDelimiterPos = null;
					break;
				
				case 1:
					if (delimiter1 === 0) {
						str = str.slice(1);
						
					} else {
						this.decimalDelimiterPos = delimiter1;
					}
					
					break;
				
				case 2:
					if (delimiter1 === 0) {
						str = cutD1();
						
					} else if (delimiter2 === 0) {
						str = cutD2();
						
					} else if(this.decimalDelimiterPos === delimiter1){
						str = cutD1();
						
					} else {
						str = cutD2();
					}
					
					this.decimalDelimiterPos = str.indexOf(this.DECIMAL_DELIMITER);
					
					break;
			}
			
			return {
				newStr: str,
				deletedDelimiter: deletedDelimiter
			};
			
			function cutD1() {
				deletedDelimiter = 1;
				return str.slice(0, delimiter1) + str.slice(delimiter1 + 1);
			}
			
			function cutD2() {
				deletedDelimiter = 2;
				return str.slice(0, delimiter2) + str.slice(delimiter2 + 1);
			}
		},
	},
	
	components: {
		// InputNumber
	}
}
</script>