<template>
	<!-- <el-dropdown
		trigger="click"
		ref='dropdown'
		@command="_onSelectVariant"
	>
		
		<input
			type="text"
			spellcheck="false"
			autocomplete="anyrandomstring"
			class="input"
			:value='value'
			@input='_onInput'
			@focus='_onFocus'
		>
		
		<el-dropdown-menu
			slot="dropdown"
			v-bind:hidden='!isVisible'
		>
			<el-dropdown-item
				v-for='v in variants'
				v-bind:data-variant-value='v.value'
				v-bind:command="v"
			>{{v.text}}</el-dropdown-item>
		</el-dropdown-menu>
	</el-dropdown> -->
	
	<div
		class="input-search"
	>
		<el-input
			type="text"
			spellcheck="false"
			autocomplete="anyrandomstring"
			:value='value'
			@input='onInput'
			@focus='_onFocus'
			@blur='_onBlur'
			clearable
			v-bind:class="{
				'input-search__input-error': error
			}"
			ref='input'
		></el-input>
		
			
		<dropdown
			v-bind:variants='variants'
			ref='dropdown'
			v-on:variant-select='_onSelectVariant'
		></dropdown>
	</div>
</template>

<script>


/*
ТЗ
Сделать логику по выводу подсказок при вводе текста в поле "Адрес". При вводе текста в поле "Адрес" текст должен передаваться на бэкенд. В ответ будут приходить подсказки с текстом полного адреса и id геоплейса, к которому этот адрес привязан. После того, как подсказка выбрана, при сохранении фильтра, нужно будет передать id геоплейса для выбранной подсказки

адрес по которому получать подсказки http://podstol.mlsoptima.ru/api/filter/addr

Параметры
address - текст набранный пользователем
region - id региона
city_or_region - id город или область.


1. Модуль навигация по выпадающим вариантам.
	Свойства:
		- Кол-во показываемых выпавших вариантов
		- 
	Действия:
		- Открыть
		- Закрыть
		- Оповестить при вводе
	Действия приватные:
		- Переместить указатель на вариант вниз
		- Переместить указатель на вариант вверх
		- Выбрать вариант
		-
2. Модуль строка поиска.
*/

import Dropdown from './Dropdown';
import {debounce} from '@/common/utils.js';

export default {
	props: {
		fetchVariants: {},
		value: {},
		debounceDelay: {default: 400},
		error: {default: false}
	},
	
	data(){
		return {
			variants: [],
			
			onInput: debounce((v) => this._onInput(v), this.debounceDelay)
		};
	},
	
	methods:{
		_onInput(inputValue){
			this.$emit('input', inputValue)
			this.fetchVariants().then(variants => this._onFetchVariants(variants));
		},
		
		_onFocus(e){
			// При выборе варианта кликом - происходит потеря фокуса и фокусировка. Это приводит к новому запросу. Поэтому при фокусе не обновляем.
			
			// this.fetchVariants().then(variants => this._onFetchVariants(variants));
		},
		
		_onBlur(e){
			setTimeout(() => this.$refs.dropdown.close(), 0);
			this.$emit('blur');
		},
		
		_onSelectVariant(variant){
			this.$emit('variant-select', variant);
			
			this.$refs.dropdown.close();
			
			setTimeout(()=>this.focus(), 0);
		},
		
		_onFetchVariants(variants){
			if (variants.length > 0) {
				// this.$refs.dropdown.setVariants();
				this.variants = variants;
				this.$refs.dropdown.open();
				
			} else {
				this.$refs.dropdown.close();
			}
		},
		
		focus(){
			this.$refs.input.focus();
		}
	},
	
	components:{
		Dropdown
	}
}
</script>

<style>
	.input-search__input-error input{
		border-color: red !important;
	}
</style>