<template>
	<input
		v-bind:class='{
			input: true,
			"input--error": isError,
			control: true,
			"control--disabled": disabled
		}'
		type="text"
		:value='inputValue'
		@input='onInput'
		@keydown='onKeydown'
		:disabled='disabled'
		v-on:focus='$emit("focus", arguments[0]);'
		v-on:blur='$emit("blur", arguments[0]);'
	>
</template>

<script>

import {getCaretPosition, setCaretPosition} from '@/common/utils.js';

export default {
	props: ['value', 'disabled', 'decimalDelimiter', 'min', 'max', 'isError'],
	
	data(){
		return {
			DECIMAL_DELIMITER: this.decimalDelimiter || '.',
			decimalDelimiterPos: null,
			
			lastInputParams: null,
			cursorPosOnKeydown: 0
		}
	},
	
	watch:{
		disabled(){
			if (this.disabled) {
				this.$emit("input", undefined);
			}
		}
	},
	
	computed: {
		inputValue(){
			// console.log('programming input', this.value);
			if (this.value === undefined) {
				var newValue = '';
				
			} else {
				newValue = this._toDecimalDelimiter(this.value);
			}
			
			return newValue;
		},
	},
	
	methods:{
		onInput(){
			
			if (this.$el.value === '') {
				this.$emit("input", undefined);
				return
			}
			
			// console.log('input', this._getCaret());
			let inputParams = {};
			
			let valueStr = this.toString(inputParams);
			let valueNum = this.toNumber(valueStr);
			
			inputParams.valueNum = valueNum;
			
			inputParams.oldCaretPos = this._getCaret();
			
			this.$el.value = valueStr;
			
			this._refreshCaret(inputParams);
			
			// valueStr = valueStr.replace(/,/g, '.');
			this.$emit("input", valueNum);
			
			this.lastInputParams = inputParams;
		},
		
		onKeydown(){
			this.cursorPosOnKeydown = this._getCaret();
		},
		
		toNumber(str){
			str = (str === undefined) ? this.toString() : str;
			
			return Number( str.replace(/,/g, '.') );
		},
		
		toString(inputParams){
			let oldStr = this.$el.value;
			
			// В новом значении все запятые превратить в точки.
			let newStr = this._toDecimalDelimiter(oldStr);
			
			// Удалить все символы кроме чисел и точек из нового значения.
			newStr = this._cutLetters(newStr);
			
			// Если в новом значении есть больше одной точки, то узнать какая из них новая и удалить ее.
			let afterDeleteDelimiter = this._cutSecondDecimalDelimier(newStr);
			
			newStr = afterDeleteDelimiter.newStr;
			
			let num = this.toNumber(newStr);
			
			if (num > this.max) {
				newStr = String(this.max);
				
			} else if (num < this.min) {
				newStr = String(this.min);
			}
			
			if (inputParams) {
				inputParams.valueStr = newStr;
				inputParams.oldValueStr = oldStr;
				inputParams.afterDeleteDelimiter = afterDeleteDelimiter;
			}
			
			return newStr;
		},
		
		_getCaret(){
			// inputParams.caretPos = getCaretPosition(this.$el).start;
			
			// return inputParams.caretPos;
			
			return getCaretPosition(this.$el).start;
		},
		
		_refreshCaret(inputParams){
			let newCaretPos = inputParams.oldCaretPos;
			let valueNum = inputParams.valueNum;
			
			// let valueNotChanged = this.lastInputParams && this.lastInputParams.valueStr === inputParams.valueStr;
			let lengthNotChanged = this.lastInputParams && this.lastInputParams.valueStr.length === inputParams.valueStr.length;
			let wasDeletedSymbol = inputParams.valueStr.length < inputParams.oldValueStr.length;
			// let caretPosNotChanged = !!(inputParams && this.lastInputParams) && (newCaretPos === this.lastInputParams.caretPos);
			// Положение каретки изменилось относительно положения каретки после предыдущего ввода
			// let caretPosChanged = !caretPosNotChanged;
			
			// console.log('caretPosNotChanged', caretPosNotChanged);
			// console.log(newCaretPos, this.lastInputParams && this.lastInputParams.caretPos);
			
			// console.log(valueNotChanged);
			// console.log(lengthNotChanged, this.cursorPosOnKeydown);
			
			if (lengthNotChanged) {
				newCaretPos = this.cursorPosOnKeydown;
				
			} else {
				if (wasDeletedSymbol){
					
					newCaretPos--;
					
				}
				
				if (inputParams.afterDeleteDelimiter.deletedDelimiter === 2) {
					newCaretPos++;
				}
			}
			
			// if (valueNotChanged && caretPosChanged) {
			// 	// console.log(this.lastInputParams.caretPos);
				
			// 	// newCaretPos = this.lastInputParams.caretPos;
			// 	// newCaretPos = inputParams.oldCaretPos;
			// 	// newCaretPos++;
			// 	// console.log(1);
			// } else {
			// 	// console.log(2);
			// 	// console.log(valueNotChanged, caretPosChanged);
			// }
			
			// Был удален символ
			
			inputParams.caretPos = newCaretPos;
			setCaretPosition(this.$el, newCaretPos, newCaretPos);
		},
		
		_toDecimalDelimiter(value){
			let NOT_DECIMAL_DELIMITER = this.DECIMAL_DELIMITER === '.' ? ',' : '.';
			let re = new RegExp('\\' + NOT_DECIMAL_DELIMITER, 'g');
			let newValue = String(value).replace(re, this.DECIMAL_DELIMITER);
			
			return newValue;
		},
		
		_cutLetters(str){
			return str.replace(/[^\d,.]/g, '')
		},
		
		_cutSecondDecimalDelimier(str){
			let delimiter1 = str.indexOf(this.DECIMAL_DELIMITER);
			let delimiter2 = str.lastIndexOf(this.DECIMAL_DELIMITER);
			let delimitersCount;
			let deletedDelimiter;
			
			
			if (delimiter1 === -1) {
				delimitersCount = 0;
				
			} else if (delimiter1 === delimiter2) {
				delimitersCount = 1;
				
			} else {
				delimitersCount = 2;
			}
			
			
			switch(str, delimitersCount){
				case 0:
					this.decimalDelimiterPos = null;
					break;
				
				case 1:
					if (delimiter1 === 0) {
						str = str.slice(1);
						
					} else {
						this.decimalDelimiterPos = delimiter1;
					}
					
					break;
				
				case 2:
					if (delimiter1 === 0) {
						str = cutD1();
						
					} else if (delimiter2 === 0) {
						str = cutD2();
						
					} else if(this.decimalDelimiterPos === delimiter1){
						str = cutD1();
						
					} else {
						str = cutD2();
					}
					
					this.decimalDelimiterPos = str.indexOf(this.DECIMAL_DELIMITER);
					
					break;
			}
			
			return {
				newStr: str,
				deletedDelimiter: deletedDelimiter
			};
			
			function cutD1() {
				deletedDelimiter = 1;
				return str.slice(0, delimiter1) + str.slice(delimiter1 + 1);
			}
			
			function cutD2() {
				deletedDelimiter = 2;
				return str.slice(0, delimiter2) + str.slice(delimiter2 + 1);
			}
		},
	}
}
</script>