<template>
	<input
		type="text"
		:value='inputValue'
		:disabled='disabled'
		@input='onInput'
		v-on:focus='$emit("focus", arguments[0]);'
		v-on:blur='$emit("blur", arguments[0]);'
	>
</template>

<script>

import {getCaretPosition, setCaretPosition} from '@/common/utils.js';

export default {
	props: ['value', 'disabled', 'mask'],
	
	created(){
		this.maskedChars = [];
		this.mask.forEach(m => {
			if ( !this.maskedChars.includes(m.char) ) this.maskedChars.push(m.char)
		});
		
		if (this.value !== undefined) {
			this.inputValue = this.maskedFromRaw(String(this.value)).value;
			
		} else {
			this.inputValue = this.maskedFromRaw(this.value).value;
		}
	},
	
	data(){
		return {
			
			inputValue: undefined,
			maskedChars: null,
		}
	},
	
	watch:{
		value(){
			if (this.value !== undefined) {
				this.inputValue = this.maskedFromRaw(String(this.value)).value;
				
			} else {
				this.inputValue = this.maskedFromRaw(this.value).value;
			}
		}
	},
	
	methods:{
		onInput(e){
			let value = e.target.value;
			
			let raw = this.rawFromMasked(value);
			
			if (raw === '') {
				this.$emit("input", undefined);
				
			} else {
				this.$emit("input", raw);
			}
			
			let caretPos = getCaretPosition(this.$el).start;
			let inputBeforeCaret = value.slice(0, caretPos);
			// Введено до каретки
			let rawBeforeCaret = this.rawFromMasked(inputBeforeCaret);
			// До каретки с маской
			let maskedBeforeCaret = this.maskedFromRaw(rawBeforeCaret);
			// console.log(maskedBeforeCaret);
			
			let masked = this.maskedFromRaw(raw);
			this.$el.value = masked.value;
			
			let newCaretPos = maskedBeforeCaret.lastRawIndex;
			
			// При удалении символов справа не изменять позицию курсора
			if (e.inputType == 'deleteContentForward') {
				newCaretPos = caretPos;
				
			// Не сдвигать курсор вправо при пустом поле
			} else if (raw === '' && newCaretPos === 0) {
				
			// Не сдвигать вправо при удалении символа влево, и слева не осталось символов
			} else if (caretPos === 0 && e.inputType == 'deleteContentBackward') {
					
			} else {
				
				newCaretPos++;
			}
			///
			
			setCaretPosition(this.$el, newCaretPos, newCaretPos);
		},
		
		rawFromMasked(masked){
			return masked
				.replace(/[^\d]/g, '')
				.slice(0, this.mask.length);
		},
		
		maskedFromRaw(raw){
			raw = raw === undefined ? '' : raw;
			
			let rawIndex = 0;
			
			let masked = {
				value: '',
				lastRawIndex: 0
			}
			
			this.mask.forEach((item, maskItemIndex) => {
				if (item.isConst || raw[rawIndex] === undefined) {
					masked.value += item.char;
					
				} else {
					masked.value += raw[rawIndex++];
					masked.lastRawIndex = maskItemIndex;
				}
			});
			
			// console.log(masked, '\n', raw);
			
			return masked;
		},
		
		isMaskChar(char){
			return this.maskedChars.includes(char);
		}
	}
	
}
</script>