<template>
	<input
		type="text"
		:value='inputValue'
		:disabled='disabled'
		@input='onInput'
		v-on:focus='$emit("focus", arguments[0]);'
		v-on:blur='$emit("blur", arguments[0]);'
	>
</template>

<script>

import {getCaretPosition, setCaretPosition} from '@/common/utils.js';

export default {
	props: ['value', 'disabled'],
	
	created(){
		this.maskedChars = [];
		this.mask.forEach(m => {
			if ( !this.maskedChars.includes(m.char) ) this.maskedChars.push(m.char)
		});
		
		if (this.value !== undefined) {
			this.inputValue = this.maskedFromRaw(String(this.value)).value;
			
		} else {
			this.inputValue = this.maskedFromRaw(this.value).value;
		}
	},
	
	data(){
		return {
			mask: [
				{
					char: '+',
					isConst: true
				},
				
				{
					char: '_',
				},
				
				{
					char: ' ',
					isConst: true
				},
				
				{
					char: '(',
					isConst: true
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
				
				{
					char: ')',
					isConst: true
				},
				
				{
					char: ' ',
					isConst: true
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
				
				{
					char: '-',
					isConst: true
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
				
				{
					char: '-',
					isConst: true
				},
				
				{
					char: '_',
				},
				
				{
					char: '_',
				},
			],
			
			inputValue: undefined,
			maskedChars: null,
		}
	},
	
	watch:{
		value(){
			if (this.value !== undefined) {
				this.inputValue = this.maskedFromRaw(String(this.value)).value;
				
			} else {
				this.inputValue = this.maskedFromRaw(this.value).value;
			}
		}
	},
	
	methods:{
		onInput(e){
			let value = e.target.value;
			
			let raw = this.rawFromMasked(value);
			
			if (raw === '') {
				this.$emit("input", undefined);
				
			} else {
				this.$emit("input", raw);
			}
			
			let caretPos = getCaretPosition(this.$el).start;
			let rawBeforeCaret = this.rawFromMasked(value.slice(0, caretPos));
			let maskedBeforeCaret = this.maskedFromRaw(rawBeforeCaret);
			
			let masked = this.maskedFromRaw(raw);
			this.$el.value = masked.value;
			
			setCaretPosition(this.$el, maskedBeforeCaret.lastRawIndex + 1, maskedBeforeCaret.lastRawIndex + 1);
		},
		
		rawFromMasked(masked){
			return masked
				.replace(/[^\d]/g, '')
				.slice(0, this.mask.length);
		},
		
		maskedFromRaw(raw){
			raw = raw === undefined ? '' : raw;
			
			let rawIndex = 0;
			
			let masked = {
				value: '',
				lastRawIndex: 0
			}
			
			this.mask.forEach((item, maskItemIndex) => {
				if (item.isConst || raw[rawIndex] === undefined) {
					masked.value += item.char;
					
				} else {
					masked.value += raw[rawIndex++];
					masked.lastRawIndex = maskItemIndex;
				}
			});
			
			// console.log(masked, '\n', raw);
			
			return masked;
		},
		
		isMaskChar(char){
			return this.maskedChars.includes(char);
		}
	}
	
}
</script>