<template>
	<div class="radio-triple">
		<label
			v-for='(item, index) in variants'
			v-bind:class="{
				'radio-triple__label': true,
				'radio-triple__label--disabled': disabled
			}"
			:key='index'
		>
			<input
				type="radio"
				:checked='checked(item)'
				:name='name'
				:label="item"
				v-bind:value='String(item)'
				v-on:change='$emit("input", item);'
				:disabled='disabled'
				class='radio-triple__input'
			>
			
			<span class="radio-triple__radio-imitation"></span>
		</label>
	</div>
</template>

<script>
let instancesCounter = 0;
const RADIO_NAME_PREFIX = 'radio-triple-';

export default {

	props: ['value', 'disabled'],
	
	data(){
		return {
			name: RADIO_NAME_PREFIX + ++instancesCounter,
			checkedValue: undefined,
			variants: [true, null, false]
		}
	},
	
	
	methods: {
		checked(item){
			return this.value === item;
		}
	}
}
</script>

<style>
.radio-triple {
}

.radio-triple__input {
	display: none;
}

.radio-triple__label {
	position: relative;
	width: 20px;
	height: 20px;
	border: 2px solid #ccc;
	border-radius: 2px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
}

.radio-triple__label--disabled {
	cursor: default;
	opacity: .5;
}

.radio-triple__radio-imitation{
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 2px;
	left: 2px;
	
	background: transparent;
}

.radio-triple__input:checked + .radio-triple__radio-imitation {
	background: green;
}
</style>