<template>
	<form
		v-loading='isLoading'
		enctype=multipart/form-data
		v-bind:action='url'
		method=post
		name=upload
		target=hiddenframe
		v-on:change='onChange'
		v-on:submit='onSubmit'
		v-on:dragover='onDragover'
		v-on:drop='onDrop'
		ref='form'
		v-bind:style="{
			border: '1px dashed #ccc',
			padding: '15px',
			borderRadius: '5px'
			
		}"
	>
		<div>
			<slot name='title'></slot>
		</div>
		
		<div style="display: flex;">
			<slot name='thumbnails'></slot>
			<!-- 
			<input
				type=hidden
				name=MAX_FILE_SIZE
				v-bind:value='maxFileSize'
			> -->
			
			<label
				v-bind:style='{
					position: "relative",
					display: "inline-block",
					width: "100px",
					height: "100px",
					border: "1px solid #ccc",
					borderRadius: "5px",
					cursor: "pointer"
				}'
			>
				<i
					class="el-icon-plus"
					v-bind:style="{
						position: 'absolute',
						width: '50px',
						height: '50px',
						fontSize: '24px',
						color: '#888',
						top: '50%',
						left: '50%',
						marginTop: '-12px',
						marginLeft: '-12px'
					}"
				></i>
				
				<input
					v-bind:name='name'
					type=file
					style='display: none'
					ref='input-file'
				>
				
			</label>
			
		</div>
		
		
		
		
		<iframe id=hiddenframe name=hiddenframe style="width:0px; height:0px; border:0px"></iframe>
	</form>
	
</template>

<script>
// var file_api = ( window.File && window.FileReader && window.FileList && window.Blob ) ? true : false;

export default {
	props: ['url', 'name', 'maxFileSize'],
	
	data(){
		return {
			isLoading: false
		}
	},
	
	methods: {
		onSubmit(e){
			e.preventDefault();
		},
		
		onChange(){
			// this.files = this.$refs['input-file'].files;
			// console.log(this.files);
			// this.showThumbnails(this.$refs['input-file'].files);
			// console.log(this.$refs['input-file'].files[0]);
			if (!this.$refs['input-file'].files[0]) return;
			
			this.sendFile(this.$refs['input-file'].files[0]);
			this.$emit('fileSelect', this.$refs['input-file'].files[0]);
			
			// this.$refs.form.submit();
		},
		
		onDragover(e){
			// console.log(e);
			e.stopPropagation();
			e.preventDefault();
			e.dataTransfer.dropEffect = 'copy';
		},
		
		onDrop(e){
			e.stopPropagation();
			e.preventDefault();
			
			// this.$refs.form.submit();
			
			// this.showThumbnails(e.dataTransfer.files);
			
			this.sendFile(e.dataTransfer.files[0]);
			this.$emit('fileSelect', e.dataTransfer.files[0]);
			
		},
		
		sendFile(file){
			this.isLoading = true;
			
			return new Promise((resolve, reject) => {
				
				var xhr = new XMLHttpRequest();
				
				xhr.onload = () => {
					if (xhr.status !== 201) {
						reject();
						alert(`Load error:\nStatus: ${xhr.status}\nStatus text: ${xhr.statusText}`);
						
						this.isLoading = false;
						return;
					}
					
					resolve();
					
					this.$emit('load', {
						file: file,
						response: xhr.response
					});
					
					this.isLoading = false;
				};
				
				xhr.onerror = () => {
					reject();
					alert(`Load error:\nStatus: ${xhr.status}\nStatus text: ${xhr.statusText}`);
					this.isLoading = false;
				}
				
				xhr.open("POST", this.url);
				xhr.withCredentials = true;
				
				var formData = new FormData();
				formData.append(this.name, file);
				xhr.send(formData);
				
			})
		}
	}
}
</script>