<template>
	<AgentActivity
		v-bind:values='value'
	></AgentActivity>
</template>


<script>
import AgentActivity from '@/components/agent/AgentActivity.vue';

export default {
	props:{
		value: {}
	},
	
	components: {
		AgentActivity
	}
}
</script>