<template>
	<div>
		<div
			v-for='cm in controlModels'
			style="display: flex; flex-wrap: wrap; margin-bottom: 15px;"
		>
			<div
				style="display: flex;"
			>
				<UIInputPhone
					v-model='cm.phoneNumber.value'
					v-bind='cm.phoneNumber'
					v-bind:isValid='cm.phoneNumber.validation.success'
				></UIInputPhone>
				
				<UISelect
					v-model='cm.phoneType.value'
					v-bind='cm.phoneType'
					@input='_onTypeIdChange($event, cm.phoneType)'
				></UISelect>
			</div>
			
			<div
				style="display: flex;"
			>
				<UIMessengers
					v-bind:telegram.sync='cm.telegram.value'
					v-bind:viber.sync='cm.viber.value'
					v-bind:whatsapp.sync='cm.whatsapp.value'
				></UIMessengers>
			</div>
		</div>
	</div>
</template>


<script>

const PHONE_TYPES_L1 = {
	// ADV_1: 1,
	// ADV_2: 2,
	// NO_ADV: 3
	MAIN: 1,
	ADDITIONAL: 2
}

const PHONE_TYPES_L2 = {
	ADV_1: 1,
	ADV_2: 2,
	NO_ADV: 3
}

export default {
	props:{
		controlModels: {},
		typesLogic:{}
	},
	
	methods:{
		_onTypeIdChange(typeId, phoneTypeCM){
			// Для клиентов и риэлторов разные варианты в типах, соответственно разные логики
			if (this.typesLogic == 1) {
				if (typeId == PHONE_TYPES_L1.MAIN) {
					// Найти рекламу с таким же значением и установить ее в не рекл
					let ccWithSameTypeId = this.controlModels.find(cm => cm.phoneType != phoneTypeCM && cm.phoneType.value === typeId);
					// console.log(typeId, phoneTypeCM, ccWithSameTypeId.phoneType);
						
					if (ccWithSameTypeId) {
						ccWithSameTypeId.phoneType.value = PHONE_TYPES_L1.ADDITIONAL;
					}
				}
				
			} else if (this.typesLogic == 2) {
				if (typeId == PHONE_TYPES_L2.ADV_1 || typeId == PHONE_TYPES_L2.ADV_2) {
					// Найти рекламу с таким же значением и установить ее в не рекл
					let ccWithSameTypeId = this.controlModels.find(cm => cm.phoneType != phoneTypeCM && cm.phoneType.value === typeId);
					// console.log(typeId, phoneTypeCM, ccWithSameTypeId.phoneType);
						
					if (ccWithSameTypeId) {
						ccWithSameTypeId.phoneType.value = PHONE_TYPES_L2.NO_ADV;
					}
				}
			}
			
		}
	}
}
</script>