<template>
	<upload
		v-bind:url='filesCollection.saveUrl'
		name='images'
		maxFileSize='3000000'
		@fileSelect='onFileSelect'
		@load='_onUpload'
	>
		<slot slot='title' name='title'>{{filesCollection.label}}</slot>
		
		
		<draggable-elems
			slot='thumbnails'
			v-on:moved='onDraggableMoved'
		>
			<div
				v-for='(cc, index) in filesCollection.controlCollections'
				v-bind:key='index'
				slot='draggable'
				v-bind:class="{
					'draggable-elems__draggable': true, 
				}"
				style='margin-right: 15px; display: inline-flex; flex-direction: column;'
			>
				<div
					class='ui-files-control__image'
				>
					<img
						v-bind:src="cc.file.thumbnailSrc"
						style='width: 100px;height: 100px; margin-bottom: 15px;'
						alt=""
					>
					
					<UIIcon
						type='delete'
						class='ui-files-control__delete'
						@click='filesCollection.deleteFile(cc.file)'
					></UIIcon>
				</div>
				
				<UISelect
					v-if='cc.signature'
				></UISelect>
				
				<UIInput
					v-if='cc.signatureOwn'
				></UIInput>
				<!-- <photo-thumbnail
					v-bind:key='index'
					v-bind:photo='p'
					v-on:photoDelete='onFileDelete'
					v-bind:photoTypes='photoTypes'
					v-bind:photoTextVisibleForTypes='photoTextVisibleForTypes'
				></photo-thumbnail> -->
			</div>
		</draggable-elems>
	</upload>
</template>

<script>

import Upload from '@/components/form-fields/Upload.vue';
import DraggableElems from '@/components/form-fields/DraggableElems.vue';
// import PhotoThumbnail from './PhotosThumbnail.vue';

import {URL_ICON_PDF, URL_ICON_WORD, URL_ICON_EXCEL} from '@/common/urls.config.js';

const EXTENSIONS = {
	PDF: ['pdf'],
	WORD: ['doc', 'rtf', 'docx'],
	EXCEL: ['xls', 'xlsx']
}

export default {
	props: {
		filesCollection:{required: true},
		
		// photos: {},
		// url: {},
		// isPhotoTypes: {},
		// photoTypes: {},
		// photoTextVisibleForTypes: {}
	},
	
	computed: {
		// photos: self => self.$store.state.objectCard.photos.photos,
	},
	
	methods: {
		_onUpload(response){
			this.filesCollection.onUpload(response);
		},
		/*handlePictureCardPreview(img) {
			console.log(arguments);
			this.dialogVisible = true;
			this.dialogImageUrl = img.url;
		},
		handleRemove(file, fileList) {
			console.log(file, fileList);
		},
		handlePreview(file) {
			console.log(file);
		},*/
		
		onFileSelect(file){
			return;
			
			let fileIcon;
			
			let iconUrl = this.getFileIcon(file);
			
			if (iconUrl) {
				fileIcon = iconUrl;
				this.$emit('fileSelect', {
					imgSrc: iconUrl,
					file: file
				});
				
				return;
			}
			
			
			this.getLocalImg(file).then(imgSrc => {
				this.$emit('fileSelect', {
					imgSrc: imgSrc,
					file: file
				});
			});
			
		},
		
		// Когда пришел ответ после отправки изображения
		// params.file - выбранный файл на компе
		/*onLoad(params){
			this.$emit('load', params);
		},*/
		
		onDraggableMoved(params){
			// console.log(params);
			// console.log(this.photos[params.lastIndex]);
			
			this.$emit('photoMove', params);
		},
		
		onFileDelete(params){
			this.$emit('photoDelete', params);
			
		},
		
		/*showThumbnails(files){
			var self = this;
			
			// Источник: https://www.html5rocks.com/ru/tutorials/file/dndfiles/
			// Loop through the FileList and render image files as thumbnails.
			for (var i = 0; i < files.length; i++) {
				let f = files[i];
				// Only process image files.
				if (!f.type.match('image.*')) {
					continue;
				}

				var reader = new FileReader();

				// Closure to capture the file information.
				reader.onload = (theFile => {
					return function(e) {
						// Render thumbnail.
						// var span = document.createElement('span');
						let img = ['<img width="200px" class="thumb" src="', e.target.result,
															'" title="', escape(theFile.name), '"/>'].join('');
						// document.getElementById('list').insertBefore(span, null);
						self.thumbnails.push({
							name: theFile.name,
							img: img,
						});
					};
				})(f);

				// Read in the image file as a data URL.
				reader.readAsDataURL(f);
			}
		}*/
		
		getLocalImg(file){
			return new Promise(resolve => {
				var reader = new FileReader();
					
				// Источник: https://www.html5rocks.com/ru/tutorials/file/dndfiles/
				// Loop through the FileList and render image files as thumbnails.
				reader.onload = e => {
					resolve(e.target.result);
				};

				// Read in the image file as a data URL.
				reader.readAsDataURL(file);
				
			})
			
		},
		
		getFileIcon(file) {
			let ext = file.name.slice(file.name.lastIndexOf('.') + 1);
			
			
			if ( EXTENSIONS.PDF.includes(ext) ) {
				return URL_ICON_PDF;
				
			} else if ( EXTENSIONS.WORD.includes(ext) ) {
				return URL_ICON_WORD;
				
			} else if ( EXTENSIONS.EXCEL.includes(ext) ) {
				return URL_ICON_EXCEL;
				
			}
		},
		
		/*deleteFile(file){
			console.log('deleteFile', file);
		}*/
	},
	
	components: {
		Upload,
		DraggableElems,
		// PhotoThumbnail
	}
}
</script>

<style>
.ui-files-control__image{
	position: relative;
	width: 100px;
	height: 100px;
	display: inline-block;
	outline: 2px dotted red;
}

.ui-files-control__image:first-child:before{
	content: '';
	position: absolute;
	z-index: 1;
	display: block;
	width: 30px;
	height: 30px;
	margin: 5px;
	background-image: url(/img/oc-photos-thumbnail__main.png);
	background-size: contain;
	
}

.ui-files-control__delete{
	position: absolute;
	top: 5px;
	right: 5px;
}
</style>