<template>
	<Upload
		v-bind:url='url'
		v-bind:name='name'
		v-bind:maxFileSize='maxFileSize'
		
		v-on:load='onUpload'
	>
		<slot slot='title' name='title'>{{label}}</slot>
		<div
			v-if='id'
			slot='thumbnails'
		>
			<img v-bind:src="thumbnailSrc" alt="">
		</div>
		
		
	</Upload>
</template>


<script>
export default {
	props:{
		url: {},
		label: {},
		name: {},
		maxFileSize: {},
		onUpload: {},
		id: {},
		imageSrc: {},
		thumbnailSrc: {},
	}
}
</script>


<style>
.ui-is-active-control{
	color: red;
}

.ui-is-active-control--is-active{
	color: #01973d;
}
</style>