<template>
	<div
		v-bind:class="{
			'ui-is-active-control': true,
			'ui-is-active-control--is-active': value
		}"
	>
		{{value ? 'АКТУАЛЕН' : ' НЕ АКТУАЛЕН'}}
	</div>
</template>


<script>
export default {
	props:{
		value: {type: Boolean}
	}
}
</script>


<style>
.ui-is-active-control{
	color: red;
}

.ui-is-active-control--is-active{
	color: #01973d;
}
</style>