<template>
	<div class="ui-one-of-control">
		<UIButton
			v-for='cm in oneOfControl.controlModels'
			v-bind:selected='cm.checked'
			@click='cm.checked = true'
		>{{cm.label}}</UIButton>
	</div>
</template>


<script>
export default {
	props:{
		oneOfControl: {}
	}
}
</script>


<style>
.ui-one-of-control{
	margin-bottom: 15px;
}
</style>