<template>
	<UIPagination
		ref='pagination'
		v-loading='paginationControl.loading'
		
		v-bind:countOnPage.sync='paginationControl.countOnPage.value'
		v-bind:countOnPageVariants='paginationControl.countOnPage.variants'
		
		v-bind:page.sync='paginationControl.page.value'
		
		v-bind:desc.sync='paginationControl.desc.value'
		
		v-bind:sort.sync="paginationControl.sort.value"
		v-bind:sortVariants="paginationControl.sort.variants"
		
		v-bind:total="paginationControl.total.value"
		
		v-on:update:page='paginationControl.fetch'
		v-on:update:sort='paginationControl.fetch'
		v-on:update:desc='paginationControl.fetch'
	>
	</UIPagination>
</template>


<script>
export default {
	props: {
		paginationControl: {required: true}
	}
}
</script>