<template>
	<UIInputSearch
		v-model='control.value'
		v-bind='control'
		v-on:variant-select='control.onVariantSelect'
	></UIInputSearch>
</template>


<script>
export default {
	props:{
		control: {}
	}
}
</script>