<template>
	<section id="suggestions">
		<div class="inner">
			<div id="block-title">
				<div class="block-left">
					<div class="block-title">
						<div class="region">
							<UISelect v-bind:variants="[
								{label: 'Нижегородская область', value: 1},
								{label: 'Московская область', value: 2},
								{label: 'Омская область', value: 3},
								{label: 'Омская область', value: 4},
								{label: 'Омская область', value: 5},
								{label: 'Омская область', value: 6},
								{label: 'Омская область', value: 7},
								{label: 'Омская область', value: 8},
								{label: 'Омская область', value: 9},
							]"
							></UISelect>
						</div>
						<a href="#" class="button" title="Районы">Районы</a>
						<a href="#" class="button active" title="Зоны">Зоны</a>
						<a href="#" class="button" title="Радиус">Радиус</a>
						<a href="#" class="button" title="Контур">Контур</a>
					</div>
				</div>
				<div class="block-right">
					<div class="block-title">
						<h3 class="title">Объекты</h3>
						<div class="rent" v-bind:class="{ active: rentActive }">
							<div class="title" v-bind:class="{ active: rentActive }" @click="rentActive = !rentActive; filtersActive = listActive = false; ">
								<i class="material-icons">thumb_up_alt</i>
								<span class="label">Аренда</span>
								<i class="material-icons" v-if="!rentActive">arrow_drop_down</i>
								<i class="material-icons" v-if="rentActive">arrow_drop_up</i>
							</div>
							<div class="content">
								<div class="selectBox">
									<label>Фильтр 1</label>
									<label>Название фильтра 2</label>
									<label>Фильтр Name 3</label>
									<label>Фильтр номер 4</label>
									<label>Фильтр 5</label>
									<label>Сохраненный фильтр 6</label>
									<label>Фильтр 7</label>
									<label>Имя фильтра 8</label>
								</div>
							</div>
						</div>
						<div class="separator"></div>
						<div class="list" v-bind:class="{ active: listActive }">
							<div class="title" v-bind:class="{ active: listActive }" @click="listActive = !listActive; filtersActive = rentActive = regionActive = false;">
								<i class="material-icons">list</i>
								<span class="label">Список</span>
								<i class="material-icons" v-if="!listActive">arrow_drop_down</i>
								<i class="material-icons" v-if="listActive">arrow_drop_up</i>
							</div>
							<div class="content">
								<div class="selectBox">
									<label>Фильтр 1</label>
									<label>Название фильтра 2</label>
									<label>Фильтр Name 3</label>
									<label>Фильтр номер 4</label>
									<label>Фильтр 5</label>
									<label>Сохраненный фильтр 6</label>
									<label>Фильтр 7</label>
									<label>Имя фильтра 8</label>
								</div>
							</div>
						</div>
						<div class="filters" v-bind:class="{ active: filtersActive }">
							<div class="title" v-bind:class="{ active: filtersActive }" @click="filtersActive = !filtersActive; listActive = rentActive = regionActive = false;">
								<i class="material-icons">filter_list</i>
								<span class="label">Фильтр</span>
								<i class="material-icons" v-if="!filtersActive">arrow_drop_down</i>
								<i class="material-icons" v-if="filtersActive">arrow_drop_up</i>
							</div>
							<div class="content">
								<div class="selectBox">
									<label>Фильтр 1</label>
									<label>Название фильтра 2</label>
									<label>Фильтр Name 3</label>
									<label>Фильтр номер 4</label>
									<label>Фильтр 5</label>
									<label>Сохраненный фильтр 6</label>
									<label>Фильтр 7</label>
									<label>Имя фильтра 8</label>
								</div>
							</div>
						</div>
					</div>
					<div class="block-nav">
						<div class="item">
							<a href="/" title="">Квартиры</a>
						</div>
						<div class="item">
							<a href="/" title="">Комнаты</a>
						</div>
						<div class="item">
							<a href="/" title="">Дома</a>
						</div>
						<div class="item">
							<a href="/" title="">Участники</a>
						</div>
						<div class="item">
							<a href="/" title="">Гаражи</a>
						</div>
						<div class="item">
							<a href="/" title="">Коммерция</a>
						</div>
					</div>
				</div>
			</div>
			<div id="filters">
				<div class="block-content">
					<div class="inner">
						<div class="selectBox">
							<label>Количество комнат</label>
							<select>
								<option>Студия, 1, 2, 4+</option>
								<option>Студия, 1, 2</option>
								<option>Студия, 1</option>
							</select>
						</div>
						<div class="inputBox duo">
							<label>Цена, р.</label>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="От"/>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="До"/>
						</div>
						<div class="checkBox">
							<input type="checkbox" class="square" id="input-1"/>
							<label for="input-1">Только с фото</label>
						</div>
					</div>
					<div class="inner">
						<div class="inputBox duo">
							<label>Общая площадь, м.</label>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="От"/>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="До"/>
						</div>
						<div class="selectBox">
							<label>Статус заявки</label>
							<select>
								<option>Актуальные</option>
								<option>Не актуальные</option>
								<option>Проверенные</option>
							</select>
						</div>
						<div class="selectBox">
							<label>Данные за</label>
							<select>
								<option>Неделю</option>
								<option>Месяц</option>
								<option>Год</option>
							</select>
						</div>
					</div>
					<div class="inner bg">
						<div class="selectBox">
							<label>Район</label>
							<select>
								<option></option>
								<option>Район 2</option>
								<option>Район 3</option>
							</select>
						</div>
						<div class="selectBox">
							<label>Зона</label>
							<select>
								<option></option>
								<option>Зона 2</option>
								<option>Зона 3</option>
							</select>
						</div>
						<div class="inputBox">
							<label>Адрес</label>
							<input type="text" name="" value="" maxlength="50" class="inputText"/>
						</div>
						<div class="selectBox full" v-if="show">
							<label>Жилищный комплекс</label>
							<select>
								<option>Любой</option>
								<option>Любой 2</option>
								<option>Любой 3</option>
							</select>
						</div>
					</div>

					<div class="inner" v-if="show">
						<div class="checkBox">
							<input type="checkbox" class="square" id="input-2"/>
							<label for="input-2">Новостройка</label>
						</div>
						<div class="selectBox double duo">
							<select>
								<option>Срок сдачи от</option>
								<option>Срок сдачи от 2</option>
								<option>Срок сдачи от 3</option>
							</select>
							<select>
								<option>Срок сдачи до</option>
								<option>Срок сдачи до 2</option>
								<option>Срок сдачи до 3</option>
							</select>
						</div>
					</div>
					<div class="inner" v-if="show">
						<div class="checkBox">
							<input type="checkbox" class="square" id="input-3"/>
							<label for="input-3">Вторичное</label>
						</div>
						<div class="selectBox double">
							<select>
								<option>Год постройки</option>
								<option>Год постройки 2</option>
								<option>Год постройки 3</option>
							</select>
						</div>
					</div>
					<div class="inner" v-if="show">
						<div class="selectBox full">
							<label>Тип жилья</label>
							<select>
								<option>Тип жилья 1</option>
								<option>Тип жилья 2</option>
								<option>Тип жилья 3</option>
							</select>
						</div>
					</div>
					<div class="inner bg" v-if="show">
						<div class="selectBox full">
							<label>Материал стен</label>
							<select>
								<option>Кирпич</option>
								<option>Панели</option>
								<option>Газобетон</option>
							</select>
						</div>
						<div class="inputBox duo">
							<label>Этажность</label>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="От"/>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="До"/>
						</div>
						<div class="inputBox duo">
							<label>Этаж</label>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="От"/>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="До"/>
						</div>
						<div class="inputBox duo">
							<label>Площадь кухни, м</label>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="От"/>
							<input type="text" name="" value="" maxlength="50" class="number inputText" placeholder="До"/>
						</div>
						<div class="checkBox duo">
							<div>
								<input type="checkbox" class="square" id="input-4"/>
								<label for="input-4">Не первый этаж</label>
							</div>
							<div>
								<input type="checkbox" class="square" id="input-5"/>
								<label for="input-5">Не последний этаж</label>
							</div>
						</div>
					</div>
					<div class="inner" v-if="show">
						<div class="selectBox">
							<label>Тип продажи</label>
							<select>
								<option>Чистая</option>
								<option>Чистая 2</option>
								<option>Чистая 3</option>
							</select>
						</div>
						<div class="selectBox">
							<label>Привлекательность</label>
							<select>
								<option>Переоцененный</option>
								<option>Недооцененный</option>
							</select>
						</div>
						<div class="checkBox">
							<div class="full inner">
								<input type="checkbox" class="square" id="input-6"/>
								<label for="input-6">Только с рекламой</label>
							</div>
							<div class="full inner">
								<input type="checkbox" class="square" id="input-7"/>
								<label for="input-7">Только с договором</label>
							</div>
						</div>
					</div>
					<div class="inner bg" v-if="show">
						<div class="selectBox">
							<label>Агент</label>
							<select>
								<option>Иванов Сергей Анатольевич</option>
								<option>Вася</option>
								<option>Петя</option>
							</select>
						</div>
						<div class="selectBox">
							<label>Подразделение</label>
							<select>
								<option></option>
								<option>Подразделение 2</option>
								<option>Подразделение 3</option>
							</select>
						</div>
						<div class="selectBox">
							<label>Стадия работы</label>
							<select>
								<option></option>
								<option>Стадия 2</option>
								<option>Стадия 3</option>
							</select>
						</div>
						<div class="inputBox full">
							<label>Поисковый запрос</label>
							<input type="text" name="" value="" maxlength="50" class="inputText" placeholder="По тексту, по телефону, по ID"/>
						</div>
					</div>
					<div class="inner" v-if="show">
						<div class="selectBox full">
							<label>Реклама на сайтах</label>
							<select>
								<option>yandex.ru</option>
								<option>mail.ru</option>
								<option>google.com</option>
								<option>avito.ru</option>
							</select>
						</div>
					</div>
					<hr/>
				</div>
				<div class="buttons">
					<a href="#" title="" class="button"><span class="label">Показать</span> (<span
							class="count">120</span>)</a>
					<a href="#" title="" class="button" v-on:click="show = !show">
						<span class="label" v-if="!show">Полный фильтр</span>
						<span class="label" v-if="show">Скрыть фильтр</span>
					</a>
					<a href="#" title="" class="button"><span class="label">Сохранить фильтр</span></a>
				</div>
			</div>
		</div>
	</section>
</template>

<script>
	export default {
		name: 'Suggestions',
		data: function () {
			return {
				show: false,
				filtersActive: false,
				listActive: false,
				rentActive: false,
				regionActive: false
			}
		}
	}
</script>

<style lang="scss">
	@import "../assets/scss/main.scss";

	#filters {
		width: 55%;
		margin: 0 0 0 auto;
		padding: 10px 30px 30px 15px;
		background: #ffffff;
		box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.15);
		.block-content {
			.inner {
				margin-bottom: 20px;
				padding: 0 15px;
				justify-content: space-between;
				align-items: flex-end;
				> div {
					@extend %flex;
					width: 30%;
					label {
						display: block;
						width: 100%;
						margin-bottom: 3px;
						font-size: 12px;
					}
				}
				.full {
					width: 100%;
				}
				.duo {
					select,
					input[type=text],
					> div {
						width: 46%;
						margin-right: 8%;
						padding: 0 10px;
					}
					select:last-of-type,
					input:last-of-type,
					> div:last-of-type {
						margin-right: 0;
					}
				}
				.double {
					width: 65%
				}
				.checkBox {
					@extend %flex;
					input {
						margin: 0 10px 5px 0;
					}
					label {
						width: auto;
						font-size: 14px;
						color: #666666;
						margin: 0 0 4px 0;
						cursor: pointer;
					}
					.full {
						justify-content: flex-start;
						margin: 10px 0 0 0;
						padding: 0;
						&:first-child {
							margin-top: 0;
						}
					}
					&.duo {
						width: 65%;
						> div {
							padding: 0;
							input {
								margin: 2px 10px 0px 0;
							}
						}
					}
				}
			}
			.bg {
				background: #f6f6f6;
				padding: 15px 15px 5px 15px;
				> div {
					margin-bottom: 15px;
				}
			}
			hr {
				width: calc(100% - 30px);
			}
		}
		.buttons {
			@extend %flex;
			margin-top: 30px;
			padding: 0 15px;
			justify-content: space-between;
			.button {
				width: 170px;
				padding: 0;
			}
		}
	}

	#suggestions {
		background-image: url("../assets/map.png");
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		min-height: 80vh;
		.inner {
			align-items: flex-start;
		}
	}

	#block-title {
		width: 100%;
		padding: 0;
		@extend %flex;
		align-items: flex-start;
		.block-left {
			width: 45%;
			padding: 20px 15px;
			background: rgba(255, 255, 255, 0.7);
		}
		.block-right {
			width: 55%;
			padding: 12px 15px 0px 15px;
			background: #ffffff;
			z-index: 1;
			.block-title {
				margin-bottom: 10px;
			}
		}
		.block-title {
			@extend %flex;
			.button {
				padding: 0 15px;
				line-height: 28px;
				margin-left: 10px;
				font-size: 12px;
				color: #2c312e;
				&:hover {
					color: #ffffff;
				}
			}
			.region {
				position: relative;
				.title {
					padding: 0 15px;
					height: 30px;
					line-height: 28px;
					background: #ffffff;
					color: $primary-color;
					border: 1px solid $primary-color;
					cursor: pointer;
					.label {
						display: inline-block;
						max-width: 90px;
						height: 30px;
						vertical-align: middle;
						overflow: hidden;
						text-overflow: ellipsis;
					}
					i {
						vertical-align: middle;
						margin-left: 10px;
					}
				}
				.content {
					display: none;
					position: absolute;
					left: 0;
					width: 220px;
					margin-top: 5px;
					padding: 15px 15px 10px 0;
					border: 1px solid $primary-color;
					border-radius: 3px 3px 0 0;
					background: #f6f6f6;
					z-index: 11;
					.selectBox {
						height: 150px;
						overflow-y: scroll;
						label {
							display: block;
							padding: 0 15px;
							line-height: 30px;
							&:hover {
								background: $primary-color;
								color: #ffffff;
							}
						}
						&::-webkit-scrollbar {
							width: 5px;
							height: 90px;
						}
						&::-webkit-scrollbar-thumb {
							border-radius: 3px;
							background-color: $primary-color;
						}
						&::-webkit-scrollbar-track {
							border-radius: 3px;
							background-color: #e8e8e8;
						}
					}
				}
				&.active {
					.content {
						display: block;
					}
				}
			}
		}
		.block-title {
			@extend %flex;
			h3.title {
				color: #333333;
				font-size: 30px;
				font-weight: normal;
				text-transform: none;
				flex-grow: 2;
			}
			div {
				.title {
					position: relative;
					color: $primary-color;
					margin: 0px;
					padding: 3px 5px 3px 15px;
					border: 1px solid transparent;
					z-index: 12;
					cursor: pointer;
					&.active {
						background: #f6f6f6;
						border: 1px solid #01973d;
						border-bottom: 1px solid #f6f6f6;
					}
					i {
						vertical-align: middle;
						margin-right: 5px;
					}
					i:last-of-type {
						margin-right: 0;
					}
				}
			}
			.separator {
				display: block;
				width: 1px;
				height: 30px;
				background: #cccccc;
				margin: 0 30px;
			}
			.filters,
			.list,
			.rent {
				position: relative;
				.content {
					display: none;
					position: absolute;
					right: 0;
					width: 220px;
					margin-top: -2px;
					padding: 15px 15px 10px 0;
					border: 1px solid $primary-color;
					border-radius: 3px 3px 0 0;
					background: #f6f6f6;
					z-index: 11;
					.selectBox {
						height: 150px;
						overflow-y: scroll;
						label {
							display: block;
							padding: 0 15px;
							line-height: 30px;
							&:hover {
								background: $primary-color;
								color: #ffffff;
							}
						}
						&::-webkit-scrollbar {
							width: 5px;
							height: 90px;
						}
						&::-webkit-scrollbar-thumb {
							border-radius: 3px;
							background-color: $primary-color;
						}
						&::-webkit-scrollbar-track {
							border-radius: 3px;
							background-color: #e8e8e8;
						}
					}
				}
				&.active {
					.content {
						display: block;
					}
				}
			}
			.list, .rent {
				.content {
					left: 0;
					right: auto
				}
			}
		}
		.block-nav {
			background: #e8e8e8;
			margin-bottom: 15px;
			padding: 15px;
			@extend %flex;
			justify-content: space-around;
			.item {
				padding: 5px 25px;
				background: #ffffff;
				border-radius: 3px;
				&:hover,
				&.active {
					background: $primary-color;
					a {
						color: #ffffff;
						text-decoration: none;
					}
				}
			}
		}
	}

	@media all and (max-width: 1440px) {
		#block-title .block-nav .item {
			padding: 5px 15px;
		}
		#block-title .block-title .separator {
			margin: 0 20px;
		}
	}

	@media all and (max-width: 1199px) {
		#filters, #block-title .block-right {
			width: 70%;
		}
		#block-title .block-left {
			width: 30%;
		}
		#block-title .block-left .button {
			display: none;
		}
		#block-title .block-nav {
			justify-content: space-between;
		}
	}

	@media all and (max-width: 991px) {
		#filters {
			width: 100%;
			padding: 10px 15px 30px 15px;
		}
		#block-title .block-left {
			display: none;
		}
		#block-title .block-right {
			width: 100%;
		}
	}

	@media all and (max-width: 767px) {

	}

	@media all and (max-width: 641px) {
		#block-title .block-title div .title .label {
			display: none;
		}
		#block-title .block-title .separator {
			display: none;
		}
		#block-title .block-nav {
			padding: 15px 15px 0 15px;
		}
		#block-title .block-nav .item {
			width: 30%;
			margin-bottom: 15px;
		}
		#filters .block-content .inner > div {
			width: 100%;
			margin-bottom: 15px;
		}
		#filters .block-content .inner > div:last-child {
			margin-bottom: 0;
		}
		#filters .block-content .bg {
			padding-bottom: 20px;
		}
		#filters .block-content .inner .double, #filters .block-content .inner .checkBox.duo {
			width: 100%;
		}
		#filters .buttons .button {
			width: auto;
			padding: 0 10px;
		}
	}

	@media all and (max-width: 481px) {
		#block-title .block-nav .item {
			width: 45%;
		}
		#block-title .block-title h3.title {
			width: 100%;
		}
		#filters .buttons .button {
			width: 100%;
			margin-bottom: 15px;
		}
		#filters .buttons .button:last-of-type {
			margin-bottom: 0;
		}
	}

</style>