<template>
  <footer id="footer">
    <div class="inner">
      <div class="block-left">
        <div class="menu">
          <div v-for="item in footer_menu" v-bind:key="item.id" v-bind:class="'item'">
            <a href="/" v-bind:title="item.name" v-bind:class="'link'"><span>{{ item.name }}</span></a>
          </div>
        </div>
        <div class="submenu">
          <div v-for="item in footer_submenu" v-bind:key="item.id" v-bind:class="'item'">
            <a href="/" v-bind:title="item.name" v-bind:class="'link'"><span>{{ item.name }}</span></a>
          </div>
        </div>
      </div>
      <div class="block-right">
        <div class="phone">
          <a href="tel:+78311234567"><span>+7(831) 123-45-67</span></a>
        </div>
        <div class="email">
          <a href="mailto:email@mlsoptima.ru"><span>mailto:email@mlsoptima.ru</span></a>
        </div>
        <div class="contacts">
          <a href="/contacts"><span>Контакты</span></a>
        </div>
        <div class="copyright">
          <span>© 2010 — 2018, “МЛС ОПТИМА”. Создание сайта </span>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'Footer',
    data: function () {
      return {
        footer_menu: [
          {
            id: '1',
            name: 'Система'
          },
          {
            id: '2',
            name: 'Риелторам'
          },
          {
            id: '3',
            name: 'Покупателям'
          },
          {
            id: '4',
            name: 'Собственникам'
          },
          {
            id: '5',
            name: 'Партнерам'
          }
        ],
        footer_submenu: [
          {
            id: '1',
            name: 'О программе'
          },
          {
            id: '2',
            name: 'Справочный центр'
          },
          {
            id: '3',
            name: 'Тарифы и цены'
          },
          {
            id: '4',
            name: 'Оценка недвижимости'
          },
          {
            id: '5',
            name: 'Вакансии агентств'
          },
          {
            id: '6',
            name: 'Реклама на сайте'
          },
          {
            id: '7',
            name: 'Пользовательское соглашение'
          },
          {
            id: '8',
            name: 'Политика конфиденциальности'
          },
          {
            id: '9',
            name: 'Лицензионное соглашение'
          }
        ]
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>