<template>
  <header id="header">
    <div class="inner">
      <div class="block-left">
        <div class="logo">
          <a href="/" title=""><img src="../assets/logo.png"/></a>
        </div>
        <nav class="menu">
          <div class="item">
            <router-link to="/Suggestions">Предложения</router-link>
          </div>
          <div class="item">
            <router-link to="/">Заявки</router-link>
          </div>
          <div class="item">
            <router-link to="/card">Реклама</router-link>
          </div>
        </nav>
      </div>
      <div class="block-center">
        <a href="/" title=""><span class="label">Просроченные</span><span class="count">5</span></a>
      </div>
      <div class="block-right">
        <div class="message">
          <label>Сообщения</label>
          <span class="count">10</span>
        </div>
        <div class="price-box">
          <label><span class="price">1500</span><span class="char">р.</span></label>
        </div>
        <div class="users" v-bind:class="{ active: isActive }">
          <div class="icon" v-bind:class="{ active: isActive }" v-on:click="isActive = !isActive">
            <i class="material-icons">person</i>
            <label>Агент Иванова С.А</label>
          </div>
          <div class="content" v-bind:class="{ active: isActive }">
          </div>
        </div>
        <div class="addto" v-bind:class="{ active: isActive }">
          <div class="icon" v-bind:class="{ active: isActive }" v-on:click="isActive = !isActive">
            <i class="material-icons">add</i>
            <i class="material-icons hide">menu</i>
          </div>
          <div class="content" v-bind:class="{ active: isActive }">
            <a href="/" title="Добавить заявку"><span class="label">Добавить заявку</span></a>
            <span class="separator">|</span>
            <a href="/" title="Добавить предложение"><span class="label"><span class="hide">Добавить</span> предложение</span></a>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'Header',
    data: function () {
      return {
        isActive: false
      }
    },
    methods: {

    }
  }
</script>

<style scoped lang="scss">

</style>