<template>
	<div>
		<!-- <table class="agent-activity__table">
			<tr>
				<th></th>
				<th>Номер</th>
				<th>Тип</th>
				<th>Стадия работы</th>
				<th>activity_type_name</th>
				<th>Договор</th>
				<th>Сделка</th>
			</tr>
			
			<tr
				v-for='v in values'
				v-bind:class="{
					'agent-activity__row':true
				}"
			>
				<td>{{v.offer_type_name}}</td>
				<td>#{{v.activity_id}}</td>
				<td>{{v.object_type_name}}</td>
				<td>стадия работы</td>
				<td>{{v.activity_type_name}}</td>
				<td>{{v.contract_modified}}</td>
				<td>{{v.bargain_closed}}</td>
			</tr>
		</table> -->
		
		
		
		<UITable
			v-bind:columns="[
				{
					key: 'offer_type_name',
					label: '',
					sortMethod: 'string'
				},
				{
					key: 'activity_id',
					label: 'Номер',
					sortMethod: 'number'
				},
				{key: 'object_type_name', label: 'Тип'},
				{key: 'activity_type_name', label: 'activity_type_name'},
				{key: 'contract_modified', label: 'Договор'},
				{key: 'bargain_closed', label: 'Сделка'},
			]"
			
			v-bind:values="values"
			
			height='250'
		></UITable>
		
		<!-- <el-table
			stripe
			border
			:data="values"
			style="width: 100%">
			<el-table-column
			prop="offer_type_name"
			label=""
			width="180">
			</el-table-column>
			<el-table-column
			prop="activity_id"
			label="Номер"
			width="180">
			</el-table-column>
			<el-table-column
			prop="object_type_name"
			label="Тип">
			</el-table-column>
		</el-table> -->
	</div>
</template>


<script>
export default {
	props:{
		values: {}
	}
}
</script>


<style>
.agent-activity__table{
	border-collapse: collapse;
}

.agent-activity__table td{
	padding: 15px;
}

.agent-activity__row:nth-child(2n - 1){
	background-color: #f6f6f6;
}
</style>