<template>
	<div>
		<UIInputPassportSeriesNumber
			v-bind:serial='serial'
			v-bind:number='number'
			v-on:input='_onSerialNumberInput'
		></UIInputPassportSeriesNumber>
		
		<UIInput
			label='Кем выдан'
			v-bind:value='issuedBy'
			@input='$emit("update:issuedBy", $event)'
		></UIInput>
		
		<UIInputDate
			label='Дата выдачи'
			v-bind:value='issuedDate'
			@input='$emit("update:issuedDate", $event)'
		></UIInputDate>
		
		<UIInputPassportUnitCode
			v-bind:value='divisionCode'
			@input='$emit("update:divisionCode", $event)'
		></UIInputPassportUnitCode>
		
		<UIInputDate
			label='Дата рождения'
			v-bind:value='birthday'
			@input='$emit("update:birthday", $event)'
		></UIInputDate>
		
		<UISelect
			label='Пол'
			v-bind:value='gender'
			v-bind:variants='genderVariants'
			@input='$emit("update:gender", $event)'
		></UISelect>
		
		<UIInput
			label='Место рождения'
			v-bind:value='birthPlace'
			@input='$emit("update:birthPlace", $event)'
		></UIInput>
		
		<UIInput
			label='Зарегистрирован по адресу'
			v-bind:value='registrationAddress'
			@input='$emit("update:registrationAddress", $event)'
		></UIInput>
	</div>
</template>


<script>
export default {
	props: {
		serial: {},
		number: {},
		issuedBy: {},
		issuedDate: {},
		divisionCode: {},
		birthday: {},
		gender: {},
		birthPlace: {},
		registrationAddress: {},
		
		genderVariants: {
			default: ()=>[ {label: 'М', value: 'М'}, {label: 'Ж', value: 'F'}]
		}
	},
	
	methods:{
		_onSerialNumberInput(params){
			this.$emit('update:serial', params.serial);
			this.$emit('update:number', params.number);
		}
	}
}
</script>