<template>
	<!-- size = medium / small / mini -->
	<el-button
		v-if='visible'
		
		v-bind:size="size"
		
		v-bind:class="{
			'ui-button': true,
			'ui-button--green': type == 'green',
			'ui-button--selected': selected,
			'ui-button--disabled': disabled,
		}"
		
		@click='_onClick'
	>
		<slot></slot>
	</el-button>
</template>

<script>



export default {
	props: {
		disabled: {
			default: false,
		},
		
		selected: {
			default: false,
		},
		
		visible: {
			default: true,
		},
		
		size: {
			default: 'medium'
		},
		
		// 'green'
		type: {}
	},
	
	methods:{
		_onClick(e){
			if (this.disabled) return;
			
			this.$emit('click');
		},
	}
}
</script>

<style>
.ui-button{
	margin-left: 15px;
}

.ui-button,
.ui-button:focus
{
	background: #fff;
	border-color: #01973d;
	color: #01973d;
}

.ui-button--selected,
.ui-button:hover{
	color: #fff !important;
	background: #01973d !important;
	border-color: #01973d !important;
}

.ui-button--green{
	color: #fff;
	background: #01973d;
}

.ui-button--green:hover{
	background: #666;
	border-color: #666;
}

.ui-button--disabled{
	background: #666 !important;
	border-color: #666 !important;
	
}
</style>