<template>
	<UIMagnifyingImage
		v-bind:src='src'
		v-bind:thumbnailSrc='thumbnailSrc'
		class='ui-company-avatar'
	></UIMagnifyingImage>
</template>


<script>
export default {
	props: {
		src: {},
		thumbnailSrc: {},
	}
}
</script>


<style>
.ui-company-avatar{
	width: 100px;
}

.ui-company-avatar .ui-vagnifying-image__thumbnail-img{
	width: 100px;
	border-radius: 100px;
	/*border: 2px dotted red;*/
	background-color: white;
	/*background-size: cover;*/
}
</style>