<template>
	<div
		v-bind:class="{
			'ui-controls-block': true,
			'ui-controls-block--gray': color == 'gray',
			'ui-controls-block--white': color == 'white',
		}"
	>
		<slot></slot>
	</div>
</template>


<script>
export default {
	props:{
		color: {default: 'gray'}
	}
}
</script>


<style>
.ui-controls-block{
	margin: 2px;
	padding: 15px;
	border-radius: 2px;
	
}

.ui-controls-block--gray{
	background: #f6f6f6;
}

.ui-controls-block--white{
	background: white;
}
</style>