<template>
	<div
		v-bind:class="{
			'ui-hr': true,
			'ui-hr--green': color === 'green',
			'ui-hr--gray': color === 'gray',
		}"
	></div>
</template>

<script>
export default {
	props:{
		color: {default: 'green'}
	}
}
</script>

<style>
.ui-hr{
	border-top: 1px solid;
	margin: 15px 0 15px 0;
}

.ui-hr--green{border-color: #01973d;}
.ui-hr--gray{border-color: #ddd;}

</style>