<template>
	<span
		@click='$emit("click")'
	>
		<i
			v-bind:class="{
				'ui-icon': true,
				'ui-icon--hover-bg': hoverBg,
				'ui-icon--clickable': clickable,
				'ui-icon--disabled': disabled,
				
				
				'el-icon-edit': type == 'edit',
				'el-icon-delete': type == 'delete',
				'el-icon-circle-close': type == 'clear',
				'el-icon-phone': type == 'phone',
				'el-icon-service': type == 'skype',
				'ui-icon--telegram': type == 'telegram',
				'ui-icon--viber': type == 'viber',
				'ui-icon--whatsapp': type == 'whatsapp',
				'ui-icon-money': type == 'money',
				'ui-icon--email': type == 'email',
				'ui-icon--site': type == 'site',
				'el-icon-arrow-up': type == 'sort-up',
				'el-icon-arrow-down': type == 'sort-down',
				'ui-icon-offer-qty': type == 'offer-qty',
				'ui-icon-demand-qty': type == 'demand-qty',
			}"
		></i>
	</span>
</template>

<script>
export default {
	props:{
		type: {},
		hoverBg: {default: true},
		clickable: {default: true},
		disabled: {default: false}
	}
}
</script>


<style>
.ui-icon{
	cursor: default;
	/*color: #01973d;*/
	font-weight: bold;
	font-style: normal;
}

.ui-icon--clickable{
	cursor: pointer;
}

.ui-icon--hover-bg:hover{
	background: #474747;
}

.ui-icon--disabled{
	opacity: .2;
}

.ui-icon--site:before {content: '\2693';}
.ui-icon--telegram:before {content: 't';}
.ui-icon--viber:before {content: 'v';}
.ui-icon--whatsapp:before {content: 'w';}

.ui-icon--email:before {
    content: "\1F4E7";
}

.ui-icon-money:before {
    content: "$";
}

.ui-icon-offer-qty:before{
	content: '👤';
}

.ui-icon-demand-qty:before{
	content: '👤';
}
</style>