<template>
	<UIInfo
		type='offer-qty'
		class='ui-info-offer-qty'
		v-bind:tooltipTitle='tooltipTitle'
	>
		{{value}}
	</UIInfo>
</template>


<script>
import {toStr} from '@/common/utils.js';

export default {
	props:{
		value:{},
		'tooltipTitle':{}
	},
}
</script>


<style>
.ui-info-offer-qty .ui-icon-offer-qty{
	color: #ECAB2C !important;
}
</style>