<template>
	<div>
		value: {{value}}
		<!-- <pre>{{variants}}</pre> -->
		<UIInputRadio
			v-for='v in variants'
			
			v-bind:checked='v.value == value'
			
			v-bind:value='v.value'
			v-bind:label='v.label'
			v-bind:name='name'
			@input='_onInput'
		></UIInputRadio>
	</div>
</template>


<script>
export default {
	props:{
		name:{},
		value:{},
		variants:{},
	},
	
	methods:{
		_onInput(value){
			this.$emit('input', value);
		}
	}
}
</script>