<template>
	<label
		v-bind:class="{
			'ui-input': true,
			'ui-input--width-05': width == '0.5',
		}"
	>
		<span
			v-bind:class="{
				'ui-input__label': true,
				'ui-input__label--required': required,
				
			}"
		>{{label}}<slot name="label"></slot></span>
		
		<div class="ui-input__wrapper">
			<input
				v-bind:type="type"
				ref='input'
				v-bind:class="{
					'ui-input__input': true,
					'ui-input__input--clearable': clearable && !disabled,
					'ui-input__input--is-invalid': !isValid
				}"
				v-bind:value='value'
				v-bind:placeholder='placeholder'
				v-bind:disabled='disabled'
				
				@input="$emit('input', $event.target.value)"
				@blur="$emit('blur')"
			>
			
			<UIIcon
				v-if='clearable && !disabled'
				
				type='clear'
				v-bind:hoverBg='false'
				v-bind:class="{
					'ui-input__clear': true,
				}"
				
				@click="_onClear"
			></UIIcon>
		</div>
	</label>
</template>

<script>
export default {
	props:{
		value:{},
		width: {},
		type:{default: 'text'},
		label: {},
		placeholder: {},
		clearable: {default: true},
		required: {default: false},
		isValid: {default: true},
		disabled: {default: false}
	},
	
	methods:{
		focus(){
			this.$refs['input'].focus();
		},
		
		_onClear(){
			this.$emit('input', undefined);
			this.$emit('clear');
		}
	}
}
</script>

<style>
.ui-input{
	display: inline-block;
	width: 190px;
	margin: 0px 15px 15px 0;
}

.ui-input--width-05{
	width: 95px;
	margin-right: 7.5px;
}

.ui-input__label{
	display: block;
}

.ui-input__label--required:after{
	content: '*';
}

.ui-input__wrapper{
	position: relative;
	display: inline-block;
	width: 100%;
}

.ui-input__input{
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	padding: 5px;
	border: 1px solid #666;
	border-radius: 2px;
	color: #666;
}

.ui-input__input:focus{
	outline: none;
	border-color: #01973d;
}


.ui-input__input--clearable{
	padding-right: 20px;
}

.ui-input__input--is-invalid,
.ui-input__input--is-invalid:focus
{
	border-color: red;
	
}

.ui-input__clear{
	display: none;
	
	position: absolute;
	right: 5px;
	top: 4px;
}

.ui-input__wrapper:hover .ui-input__clear{
	display: inline-block;
}
</style>