<template>
	<div
		v-bind:class="{
			'ui-info-messengers__messengers': true,
		}"
	>
		<UIIcon
			type='telegram'
			v-bind:clickable='false'
			v-bind:hoverBg='false'
			
			v-bind:class="{
				'ui-info-messengers__messenger': true,
				'ui-info-messengers__messenger--disabled': !telegram,
			}"
		></UIIcon>
		
		<UIIcon
			type='viber'
			v-bind:clickable='false'
			v-bind:hoverBg='false'
			
			v-bind:class="{
				'ui-info-messengers__messenger': true,
				'ui-info-messengers__messenger--disabled': !viber,
			}"
		></UIIcon>
		
		<UIIcon
			type='whatsapp'
			v-bind:clickable='false'
			v-bind:hoverBg='false'
			
			v-bind:class="{
				'ui-info-messengers__messenger': true,
				'ui-info-messengers__messenger--disabled': !whatsapp,
			}"
		></UIIcon>
	</div>
</template>


<script>
export default {
	props:{
		telegram:{},
		viber:{},
		whatsapp:{},
	}
}
</script>


<style>
.ui-info-messengers__messengers {
	display: inline-block;
}

.ui-info-messengers__messenger {
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	
	text-align: center;
	line-height: 20px;
	color: white;
	background-color: #01973d;
}

.ui-info-messengers__messenger--disabled{
	opacity: .2;
}

.ui-info-messengers__messenger .ui-icon {
	font-weight: normal;
	
}
</style>