<template>
	<UIInfo
		type='demand-qty'
		class='ui-info-demand-qty'
		v-bind:tooltipTitle='tooltipTitle'
	>
		{{value}}
	</UIInfo>
</template>


<script>
import {toStr} from '@/common/utils.js';

export default {
	props:{
		value:{},
		'tooltipTitle':{}
	},
}
</script>


<style>
.ui-info-demand-qty .ui-icon-demand-qty{
	color: #4688FC !important;
}
</style>