<template>
	<UIInfo
		type='phone'
		class='ui-info-phone'
	>
		{{value | phone}}
	</UIInfo>
</template>


<script>
import {toStr} from '@/common/utils.js';

export default {
	props:{
		value:{},
	},
	
	data(){
		return {
			// maskedPhone: toStr.phone(this.value)
		}
	}
}
</script>


<style>
.ui-info-phone{
	min-width: 160px;
}
</style>