<template>
	<UIInputMask
		v-bind:value='value'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		mask='0000  000000'
		@input="_onInput"
	></UIInputMask>
</template>

<script>
export default {
	props:{
		serial:{},
		number:{},
		label: {default: 'Серия, номер паспорта'},
		placeholder: {}
	},
	
	/*data(){
		return {
			value: '' + this.serial + this.number
		}
	},*/
	
	computed:{
		value(){
			return '' + this.serial + this.number
		}
	},
	
	methods:{
		_onInput(value){
			this.$emit('input', {
				serial: value.slice(0, 4),
				number: value.slice(4)
			})
		}
	}
}
</script>
