<template>
	<label
		v-bind:class="{
			'ui-input-radio': true,
		}"
	>
		<input
			type="radio"
			v-bind:name='name'
			v-bind:value='value'
			v-bind:checked='checked'
			@input='_onInput'
		>
		
		<span class="ui-input-radio__label">{{label}}</span>
	</label>
</template>


<script>
export default {
	props:{
		name: {},
		value: {},
		checked: {default: false},
		label: {},
	},
	
	methods:{
		_onInput(e){
			// console.log(e.target.value);
			this.$emit('input', e.target.value);
		}
	}
}
</script>


<style>
.ui-input-radio{
	display: inline-block;
}
</style>