<template>
	<!-- v-bind:error='!address.success || isError' -->
	<UIInputSearch
		v-bind:fetchVariants='_fetchVariants'
		v-model='inputValue'
		v-on:variant-select='_onVariantSelect'
		v-on:blur='_onBlur'
		v-on:clear='_onClear'
		
		v-bind:label='label'
		v-bind:required='required'
		v-bind:isValid='isValid'
		
		ref='inputSearch'
		class='ui-input-address'
	></UIInputSearch>
</template>

<script>
import {fetch} from '@/common/utils.js';
import {URL_ADDRESSES_VARINATS} from '@/common/urls.config.js';

export default {
	props:{
		label: {},
		text: {default: ''},
		required: {},
		value: {},
		isValid: {}
	},
	
	data(){
		return {
			inputValue: this.text
		}
	},
	
	watch:{
		value(){
			// this.inputValue = this.value;
			if (!this.value) {
				this.inputValue = '';
			}
		},
		
		text(){
			this.inputValue = this.text;
		}
	},
	
	methods:{
		_fetchVariants(){
			return fetch({
				url: URL_ADDRESSES_VARINATS,
				withCredentials: true,
				// logUrl: true,
				params: {address: this.inputValue}
				
			}).then(({response})=>{
				// console.log('URL_ADDRESSES_VARINATS', response);
				if (!response.address.variants) return [];
				
				return response.address.variants.map(v => {
					return {
						text: v.text,
						value: v.id,
						responseVariant: v
					}
				})
			})
		},
		
		_onVariantSelect(variant){
			// console.log('_onVariantSelect', variant);
			this.inputValue = variant.text;
			this.$emit('input', variant.responseVariant.id);
		},
		
		_onBlur(){
			
		},
		
		_onClear(){
			this.$emit('input', undefined);
		}
	}
}
</script>


<style>
.ui-input-address{
	width: 396px;
}
.ui-input-address .ui-input{
	width: 100%;
}
</style>