<template>
	<div
		v-bind:class="{
			'ui-info': true
		}"
	>
		<UITooltip
			v-if='tooltipTitle'
			v-bind:title='tooltipTitle'
		>
			<UIIcon
				v-if='type'
				v-bind:type='type'
				v-bind:hoverBg='false'
				v-bind:clickable='clickable'
				style='margin-right: 5px; color: #01973d;'
			></UIIcon>
			
			<span v-if='label'>{{label}}:&nbsp;</span>
			
			<slot></slot>
		</UITooltip>
		
		<UIIcon
			v-if='!tooltipTitle && type'
			v-bind:type='type'
			v-bind:hoverBg='false'
			v-bind:clickable='clickable'
			style='margin-right: 5px; color: #01973d;'
		></UIIcon>
		
		<span v-if='label'>{{label}}:&nbsp;</span>
		
		<slot v-if='!tooltipTitle'></slot>
	</div>
</template>


<script>
export default {
	props:{
		type:{},
		clickable:{default: false},
		tooltipTitle:{},
		label: {}
	}
}
</script>


<style>
.ui-info{
	display: inline-flex;
	margin-bottom: 15px;
	min-width: 100px;
}
</style>