<template>
	<UIInputMask
		label='Р/С'
		mask='00000000000000000000'
		v-bind:value='value'
		@input="$emit('input', $event)"
	></UIInputMask>
</template>

<script>
export default {
	props:{
		value:{},
	},
}
</script>