<template>
	<UIInputMask
		label='ИНН/КПП'
		mask='000000000000{/}000000000'
		v-bind:value='value'
		@input="_onInput"
	></UIInputMask>
</template>

<script>
export default {
	props:{
		inn:{},
		kpp:{}
	},
	
	/*data(){
		return {
			value: `${this.inn}/${this.kpp}`
			
		}
	},*/
	
	computed:{
		value: self => `${self.inn}/${self.kpp}`
	},
	
	methods:{
		_onInput(value){
			let splited = value.split('/');
			
			this.$emit('update:inn', splited[0]);
			this.$emit('update:kpp', splited[1]);
		}
	}
}
</script>