<template>
		<!-- v-bind:mask='/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/' -->
	<!-- <UIInputMask
		v-bind:value='value'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		v-bind:isValid='isValid'
		
		mask="CHARS"
		
		v-bind:blocks="{
			CHARS: {
				mask: /.*/
			}
		}"
		
		@input="$emit('input', $event)"
	></UIInputMask> -->
	<UIInput
		v-bind:value='value'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		v-bind:required='required'
		v-bind:isValid='isValid'
		
		@input="$emit('input', $event)"
	></UIInput>
</template>

<script>
export default {
	props:{
		value:{},
		label: {},
		placeholder: {},
		required: {},
		isValid: {default: true}
	},
	
}
</script>
