<template>
	<div v-bind:class="{
		'ui-info-card': true,
	}">
		<div
			v-bind:class="{
				'ui-info-card__content': true,
				'ui-info-card__content--detailed': detailed,
			}"
		 class="">
			<slot name='content'></slot>
		</div>
		
		<div class="ui-info-card__bottom">
			<slot name='bottom'></slot>
		</div>
	</div>
</template>


<script>
export default{
	props:{
		detailed: {default: false}
	}
}
</script>


<style>
.ui-info-card{
	width: 800px;
	border-radius: 5px;
	margin: 15px 0;
}

.ui-info-card:hover{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.ui-info-card__content{
	height: 100px;
	border-radius: 5px 5px 0 0;
	padding: 10px;
	background-color: #f6f6f6;
	
	overflow: hidden;
	transition: height .25s;
}

.ui-info-card__content--detailed{
	height: 500px;
	
}

.ui-info-card__bottom{
	/*background-color: #01973d;*/
	border-radius: 0 0 5px 5px;
	padding: 5px;
	background-color: #ddd;
	color: #fff;
}

.ui-info-card:hover .ui-info-card__bottom{
	background-color: #01973d;
}
</style>