<template>
	<UIInputMask
		v-bind:value='value'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		mask='000-000'
		@input="$emit('input', $event)"
	></UIInputMask>
</template>

<script>
export default {
	props:{
		value:{},
		label: {default: 'Код подразделения'},
		placeholder: {}
	},
	
}
</script>
