<template>
	<UIInfo
		v-if='value'
		type='money'
		v-bind:tooltipTitle='tooltipTitle'
	>
		{{value | money}}
	</UIInfo>
</template>


<script>
import {toStr} from '@/common/utils.js';

export default {
	props:{
		value:{},
		'tooltipTitle':{}
	},
}
</script>