<template>
<div>
	<UIInputPassword
		label='Новый пароль'
		v-bind:value='password'
		v-bind:isValid='isPasswordValid'
		v-on:input='$emit("update:password", $event)'
	></UIInputPassword>
	
	<UIInputPassword
		label='Подтверждение нового пароля'
		v-bind:value='passwordConfirm'
		v-bind:isValid='isPasswordConfirmValid'
		v-on:input='$emit("update:passwordConfirm", $event)'
	></UIInputPassword>
</div>
</template>


<script>
export default {
	props:{
		password:{},
		// isPasswordValid:{default: true},
		
		passwordConfirm:{},
		// isPasswordConfirmValid:{default: true},
	},
	
	data(){
		return {
			isPasswordValid: true,
			isPasswordConfirmValid: true,
		}
	},
	
	methods:{
		validate(){
			let result = {
				isValid: true
			};
			
			
			if (this.password !== this.passwordConfirm) {
				// this.$emit('update:isPasswordValid', false);
				// this.$emit('update:isPasswordConfirmValid', false);
				this.isPasswordValid = false;
				this.isPasswordConfirmValid = false;
				
				result.isValid = false;
				
			} else {
				// this.$emit('update:isPasswordValid', true);
				// this.$emit('update:isPasswordConfirmValid', true);
				this.isPasswordValid = true;
				this.isPasswordConfirmValid = true;
			}
			
			return result;
		}
	}
}
</script>