<template>
	<UIInput
		v-bind:value='inputValue'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		v-bind:isValid='isValid'
		v-bind:disabled='disabled'
		ref='UIInput'
		v-on:clear='_onClear'
	></UIInput>
</template>

<script>
// https://unmanner.github.io/imaskjs/guide.html#overwrite
// import {getCaretPosition, setCaretPosition} from '@/common/utils.js';
import IMask from 'imask';

export default {
	props:{
		value:{},
		label: {},
		placeholder: {},
		disabled: {},
		
		mask:{},
		blocks: {},
		lazy:{default: false},
		
		pattern: {},
		format: {},
		parse: {},
		min: {},
		max: {},
		autofix: {},
		
		isValid: {default: true}
	},
	
	data(){
		return {
			inputValue: this.value,
			iMask: undefined
		}
	},
	
	
	mounted(){
		var elemInput = this.$refs.UIInput.$refs.input;
		
		let iMaskParams = {
			mask: this.mask,
			lazy: this.lazy,  // make placeholder always visible
			// placeholderChar: '#'     // defaults to '_'
		}
		
		if (this.blocks) iMaskParams.blocks = this.blocks;
		if (this.pattern) iMaskParams.pattern = this.pattern;
		if (this.format) iMaskParams.format = this.format;
		if (this.parse) iMaskParams.parse = this.parse;
		if (this.min) iMaskParams.min = this.min;
		if (this.max) iMaskParams.max = this.max;
		if (this.autofix) iMaskParams.autofix = this.autofix;
		
		
		this.iMask = IMask(elemInput, iMaskParams);
		
		this.iMask.on('accept', ()=>{
			this.$emit('input', this.iMask.unmaskedValue);
		});
		
	},
	
	updated(){
		// this.iMask.updateOptions({mask:})
		this.$refs.UIInput.$refs.input.value = this.getMaskedValue();
	},
	
	watch:{
		value(){
			let value = this.value;
			
			if (value === undefined) {
				value = '';
			}
			
			this.iMask.unmaskedValue = value;
		}
	},
	
	methods:{
		getMaskedValue(){
			return this.iMask.value;
		},
		
		_onClear(){
			this.iMask.unmaskedValue = '';
		}
	}
}
</script>
