<template>
	<UIInputMask
		v-bind:value='value'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		v-bind:isValid='isValid'
		mask='+{7}-000-000-00-00'
		@input="$emit('input', $event)"
	></UIInputMask>
</template>

<script>
export default {
	props:{
		value:{},
		label: {},
		placeholder: {},
		isValid: {default: true}
	},
	
}
</script>
