<template>
	<UIInputMask
		v-bind:value='iMaskValue'
		v-bind:label='label'
		v-bind:placeholder='placeholder'
		v-bind:disabled='disabled'
		
		v-bind:mask='Date'
		
		pattern='d.`m.`Y'
		
		v-bind:blocks="{
			d: {
				mask: IMask.MaskedRange,
				from: 1,
				to: 31,
				maxLength: 2,
			},
			m: {
				mask: IMask.MaskedRange,
				from: 1,
				to: 12,
				maxLength: 2,
			},
			Y: {
				mask: IMask.MaskedRange,
				from: 1900,
				to: 2200,
			}
		}"
		
		v-bind:format="function (date) {
			var day = date.getDate();
			var month = date.getMonth() + 1;
			var year = date.getFullYear();

			if (day < 10) day = '0' + day;
			if (month < 10) month = '0' + month;

			return [day, month, year].join('.');
			return [year, month, day].join('-');
		}"
		
		v-bind:parse="function (str) {
			if (str === undefined) {
				return '';
			}
			
			var yearMonthDay = str.split('.');
			return new Date(yearMonthDay[2], yearMonthDay[1] - 1, yearMonthDay[0]);
		}"
		
		v-bind:autofix='true'
		
		
		@input="_onInput"
		ref='uiInputMask'
	></UIInputMask>
</template>

<script>
import IMask from 'imask';

export default {
	props:{
		value:{},
		label: {},
		placeholder: {},
		disabled: {},
	},
	
	data(){
		return {
			iMaskValue: this.dateReverse(this.value),
			IMask,
		}
	},
	
	watch: {
		value(){
			this.iMaskValue = this.dateReverse(this.value);
		}
	},
	
	methods:{
		_onInput(){
			this.$emit('input', this.dateReverse(this.$refs.uiInputMask.getMaskedValue()));
		},
		
		dateReverse(dateStr){
			if (!dateStr) {
				return '';
			}
			
			return dateStr.split && dateStr.split('.').reverse().join('.');
		}
	}
}
</script>
