<template>
	<div>
		Паспорт, серия, номер: {{passport_serial}} {{passport_number}}.
		Кем выдан: {{passport_from}}.
		Дата выдачи: {{passport_date | serverDate}}.
		Код подразделения: {{passport_code}}.
		Дата рождения: {{birthday_date | serverDate}}.
		Место рождения: {{birthday_place}}.
		Пол: {{gender}}.
		Зарегистрирован по адресу: {{registration_address}}.
	</div>
</template>


<script>
export default {
	props: {
		birthday_date: {},
		birthday_place: {},
		gender: {},
		passport_code: {},
		passport_date: {},
		passport_from: {},
		passport_number: {},
		passport_serial: {},
		registration_address: {},
	}
}
</script>