<template>
	<UIInput
		type='password'
		v-bind:value='value'
		v-bind:label='label'
		v-bind:isValid='isValid'
		v-bind:clearable='false'
		
		
		@input="$emit('input', $event)"
	></UIInput>
</template>

<script>
export default {
	props:{
		value:{},
		label:{},
		isValid:{},
		
	}
}
</script>