<template>
	<!-- <el-dropdown
		trigger="click"
		ref='dropdown'
		@command="_onSelectVariant"
	>
		
		<input
			type="text"
			spellcheck="false"
			autocomplete="anyrandomstring"
			class="input"
			:value='value'
			@input='_onInput'
			@focus='_onFocus'
		>
		
		<el-dropdown-menu
			slot="dropdown"
			v-bind:hidden='!isVisible'
		>
			<el-dropdown-item
				v-for='v in variants'
				v-bind:data-variant-value='v.value'
				v-bind:command="v"
			>{{v.text}}</el-dropdown-item>
		</el-dropdown-menu>
	</el-dropdown> -->
	
	<div
		class="ui-input-search"
	>
		<!-- <el-input
			type="text"
			spellcheck="false"
			autocomplete="anyrandomstring"
			:value='value'
			@input='onInput'
			@focus='_onFocus'
			@blur='_onBlur'
			clearable
			v-bind:class="{
				'ui-input-search__input-error': error
			}"
			ref='input'
		></el-input> -->
		<UIInput
			type="text"
			spellcheck="false"
			autocomplete="anyrandomstring"
			:value='value'
			@input='onInput'
			@blur='_onBlur'
			v-bind:class="{
				'ui-input-search__input-error': error
			}"
			ref='input'
			v-on:clear='$emit("clear")'
			
			
			v-bind:label='label'
			v-bind:required='required'
			v-bind:isValid='isValid'
		></UIInput>
		
		
		<dropdown
			v-bind:variants='variants'
			ref='dropdown'
			v-on:variant-select='_onSelectVariant'
		></dropdown>
	</div>
</template>

<script>
import Dropdown from '@/components/form-fields/Dropdown';
import {debounce} from '@/common/utils.js';

export default {
	props: {
		fetchVariants: {},
		value: {},
		debounceDelay: {default: 400},
		error: {default: false},
		
		label: {},
		required: {},
		isValid: {},
	},
	
	data(){
		return {
			variants: [],
			
			onInput: debounce((v) => this._onInput(v), this.debounceDelay)
		};
	},
	
	methods:{
		_onInput(inputValue){
			this.$emit('input', inputValue)
			this.fetchVariants().then(variants => this._onFetchVariants(variants));
		},
		
		_onBlur(e){
			setTimeout(() => this.$refs.dropdown.close(), 0);
			this.$emit('blur');
		},
		
		_onSelectVariant(variant){
			this.$emit('variant-select', variant);
			
			this.$refs.dropdown.close();
			
			setTimeout(()=>this.focus(), 0);
		},
		
		_onFetchVariants(variants){
			if (variants.length > 0) {
				// this.$refs.dropdown.setVariants();
				this.variants = variants;
				this.$refs.dropdown.open();
				
			} else {
				this.$refs.dropdown.close();
			}
		},
		
		focus(){
			this.$refs.input.focus();
		}
	},
	
	components:{
		Dropdown
	}
}
</script>

<style>
	.ui-input-search{
		display: inline-block;
		margin-right: 15px;
	}
	
	.ui-input-search__input-error input{
		border-color: red !important;
	}
</style>