<template>
	<a
		v-bind:class="{
			'ui-link': true
		}"
		
		v-bind:href="href"
		
		@click='_onClick'
	>
		<slot></slot>
	</a>
</template>

<script>
export default {
	props:{
		href: {default: '#'}
	},
	
	methods:{
		_onClick(e){
			// Код закомменчен, потому что в списке фильтра должен срабатывать target=_blank.
			/*e.preventDefault();
			
			this.$router.push(this.href);*/
		}
	}
}
</script>

<style>
.ui-link:visited,
.ui-link{
	display: inline-block;
	color: green;
	text-decoration: none;
	cursor: pointer;
}

.ui-link:hover{
	text-decoration: underline;
}
</style>