<template>
	<div style="width: 500px; height: 500px;">
	</div>
</template>

<script>
import {loadMap} from '@/common/api';
import {debounce, log} from '@/common/utils';

export default {
	props: {
		mapControl: {required: true}
	},
	
	data(){
		return {
			map: null,
			metroGeoObjects: [],
			eventsInited: false,
		}
	},
	
	created(){
		// console.log('created');
		
		loadMap().then(() => {
			this.map = this._createMap();
		})
		
		if (!this.eventsInited) {
			this._initEvents();
			
			this.eventsInited = true;
		}
	},
	
	/*destroyed(){
		console.log('destroyed');
		this.mapControl.reset();
	},*/
	
	
	
	
	methods: {
		
		getCenter(){
			return this.map.getCenter();
		},
		
		setCenter(coords){
			if (this.map) {
				this.map.setCenter(coords);
			}
		},
		
		setZoom(zoom){
			if (this.map && zoom !== this.map.getZoom()) {
				this.map.setZoom(zoom);
			}
		},
		
		setAddress(address){
			if (this.addressGeoObject) {
				this.map.geoObjects.remove(this.addressGeoObject);
			}
			
			this.addressGeoObject = new ymaps.Placemark(address.coords, {
				hintContent: address.hintContent
			});
			this.map.geoObjects.add(this.addressGeoObject);
		},
		
		setMetros(metros){
			// console.log(metros);
			// return;
			// let metroVariants = this.metro.variants || [];
			
			this.metroGeoObjects.forEach(geoObject => this.map.geoObjects.remove(geoObject));
			
			let selectedMetros = metros.controlModels.filter(metroControl => metroControl.value);
			
			
			this.metroGeoObjects = selectedMetros.map(metroControl => {
				return new ymaps.Circle([metroControl.coords, 150], {
					hintContent: metroControl.label
				}, {
					strokeWidth: 3,
					strokeColor: 'f00',
					fill: false,
					// fillColor: 'f00',
					opacity: .5,
					// fillImageHref: 'https://cdn6.aptoide.com/imgs/8/7/9/8798b5ebb1336d1656f4e87558616b9b_icon.png?w=240'
				});
			})
			
			this.metroGeoObjects.forEach(geoObject => this.map.geoObjects.add(geoObject));
		},
		
		_createMap(){
			return new ymaps.Map(this.$el, {
				center: this.mapControl.center,
				zoom: this.mapControl.zoom,
				controls: ['zoomControl']
			});
		},
		
		_initEvents(){
			this.mapControl.on('set-address', ()=>{
				this.setAddress(this.mapControl.address);
			})
			
			this.mapControl.on('set-metros', ()=>{
				this.setMetros(this.mapControl.metros);
			})
			
			this.mapControl.on('set-zoom', ()=>{
				this.setZoom(this.mapControl.zoom);
			})
			
			this.mapControl.on('set-center', ()=>{
				this.setCenter(this.mapControl.center);
			})
		}
	}
}
</script>