<template>
	<div>
		<img
			v-bind:src="thumbnailSrc"
			alt=""
			
			@click="$refs.popup.open()"
			class="ui-vagnifying-image__thumbnail-img"
		>
		
		<UIPopup
			ref='popup'
		>
			<img
				v-bind:src="src"
				alt=""
				class="ui-vagnifying-image__big-img"
			>
			
		</UIPopup>
		
		<!-- Предзагрузка фотографий -->
		<img
			v-bind:src="src"
			class="ui-vagnifying-image__preload"
		>
	</div>
</template>


<script>
export default {
	props: {
		src: {},
		thumbnailSrc: {},
	},
	
	data(){
		return {
			isBigVisible: false
		}
	}
}
</script>



<style>
.ui-vagnifying-image__thumbnail-img{
	cursor: pointer;
}

.ui-vagnifying-image__big-img{
	width: 100%;
}

.ui-vagnifying-image__preload{
	visibility: hidden;
	width: 0;
	height: 0;
	
}
</style>