<template>
	<div
		class='ui-menu-top-logo'
	>
		<router-link class="router-link" v-bind:to="href">Главная</router-link>
	</div>
	
</template>

<script>
export default {
	props: {
		href: {}
	}
}
</script>

<style>
.ui-menu-top-logo{
	display: inline-block;
}

.ui-menu-top-logo a {
	color: white;
}
</style>