<template>
<div style="display: flex;">
	<Checkbox
		v-bind:value='telegram'
		@input="$emit('update:telegram', $event)"
		style='display: flex; margin: auto 10px auto 0;'
	>Telegram</Checkbox>
	
	<Checkbox
		v-bind:value='viber'
		@input="$emit('update:viber', $event)"
		style='display: flex; margin: auto 10px auto 0;'
		
	>Viber</Checkbox>
	
	<Checkbox
		v-bind:value='whatsapp'
		@input="$emit('update:whatsapp', $event)"
		style='display: flex; margin: auto;'
		
	>Whatsapp</Checkbox>
</div>
</template>


<script>
export default {
	props:{
		telegram:{},
		viber:{},
		whatsapp:{},
	}
}
</script>