<template>
	<!-- size = medium / small / mini -->
	<el-button
		size="medium"
		
		v-bind:class="{
			'ui-top-menu-button': true,
			'ui-top-menu-button--active': isActive,
			'ui-top-menu-button--disabled': disabled
		}"
		
		@click='_onClick'
	>
		<slot></slot>
	</el-button>
	<!-- <div
		v-bind:class="{
			'ui-top-menu-button': true,
			
			'ui-top-menu-button--blue': bg == 'blue',
			'ui-top-menu-button--green': bg == 'green',
			
			'ui-top-menu-button--size-5': size == 5,
			'ui-top-menu-button--size-3': size == 3,
			
			'ui-top-menu-button--disabled': disabled
		}"
		
		@click='_onClick'
	>
		
		<slot></slot>
	</div> -->
</template>

<script>



export default {
	props: {
		bg: {
			default: 'green'
		},
		
		size: {
			default: 5
		},
		
		disabled: {
			default: false,
		},
		
		path:{}
	},
	
	data(){
		return {
			isActive: false
		}
	},
	
	mounted(){
		this._updateActive();
	},
	
	watch: {
		$route (to, from) {
			this._updateActive();
		},
	},
	
	methods:{
		_onClick(e){
			if (this.disabled) return;
			
			this.$emit('click');
		},
		
		_updateActive(){
			const IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN = this.path === this.$router.currentRoute.path;
			
			this.isActive = IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN;
		}
	}
}
</script>

<style>
.ui-top-menu-button{
	margin-left: 15px;
	background: black;
	border-color: black;
	color: #fff;
}

.ui-top-menu-button:hover{
	color: #fff;
	background: #4788ff;
	border-color: #4788ff;
}

.ui-top-menu-button--active{
	background: #fff;
	border-color: #fff;
	color: #4788ff;
}

.ui-top-menu-button--disabled{
	background: #666 !important;
	border-color: #666 !important;
	
}
/*.ui-top-menu-button{
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}

.ui-top-menu-button--blue {
	background-color: #4788ff;
}

.ui-top-menu-button--green {
	background-color: #01973d;
}

.ui-top-menu-button--disabled {
	cursor: default;
	background-color: #aeaeae;
}

.ui-top-menu-button--size-3 {
	padding: 5px 30px;
}

.ui-top-menu-button--size-5 {
	padding: 7px 40px;
}


.ui-top-menu-button a {
	color: #fff;
}*/
</style>