<template>
	<!-- <el-dropdown
		v-bind:class="{
			'ui-menu-top-create': true,
		}"
		
		@command="_onItemClick"
	>
		<el-button
			type="primary"
			size="medium"
			v-bind:disabled='disabled'
			
			v-bind:class="{
				'ui-menu-top-create__button': true,
				'ui-menu-top-create__button--active': isActive,
			}"
		>
			+
		</el-button>
		
		<el-dropdown-menu slot="dropdown">
			<el-dropdown-item
				v-for='item in items'
				
				v-bind:disabled='item.disabled'
				v-bind:command='item'
			>{{item.text}}</el-dropdown-item>
		</el-dropdown-menu>
		
	</el-dropdown> -->
	
	<el-cascader
		v-model="value"
		:options="options"
		:props="{ expandTrigger: 'hover' }"
		
		@change="handleChange"
	></el-cascader>
</template>

<script>

import {ROUTES} from '@/router.js';

import {
	TEXT_CLIENT_CREATE
} from '@/common/text.config.js';

import {
	CLIENT_CREATE_VISIBLE
} from '@/store/mutations.type.js';


export default {
	props: {
		items: {},
		
		bg: {
			default: 'green'
		},
		
		size: {
			default: 5
		},
		
		disabled: {
			default: false
		}
	},
	
	data(){
		return {
			// opened: false,
			// titleHeight: undefined
			isActive: false,
			value: [],
			
			options: [
				{
					value: ROUTES.SALE_CREATE.PATH,
					label: ROUTES.SALE_CREATE.TITLE,
				},
				
				{
					value: ROUTES.PAGE_SALE.PATH,
					label: ROUTES.PAGE_SALE.TITLE,
					children: [
						{
							value: `${ROUTES.PAGE_SALE.PATH}/${ROUTES.PAGE_SALE.PARAMS.OFFER_TYPE.SALE}/${ROUTES.PAGE_SALE.PARAMS.OBJECT_TYPE.APARTMENT}`,
							label: 'Продажа квартиры',
						},
						
						{
							value: `${ROUTES.PAGE_SALE.PATH}/${ROUTES.PAGE_SALE.PARAMS.OFFER_TYPE.SALE}/${ROUTES.PAGE_SALE.PARAMS.OBJECT_TYPE.ROOM}`,
							label: 'Продажа комнаты',
						},
						
						{
							value: `${ROUTES.PAGE_SALE.PATH}/${ROUTES.PAGE_SALE.PARAMS.OFFER_TYPE.RENT}/${ROUTES.PAGE_SALE.PARAMS.OBJECT_TYPE.APARTMENT}`,
							label: 'Аренда квартиры',
						},
						
						{
							value: `${ROUTES.PAGE_SALE.PATH}/${ROUTES.PAGE_SALE.PARAMS.OFFER_TYPE.RENT}/${ROUTES.PAGE_SALE.PARAMS.OBJECT_TYPE.ROOM}`,
							label: 'Аренда комнаты',
						}
					]
				},
				
				{
					value: ROUTES.PAGE_BUY.PATH,
					label: ROUTES.PAGE_BUY.TITLE,
				},
				
				{
					value: () => this.$store.commit(CLIENT_CREATE_VISIBLE, true),
					label: TEXT_CLIENT_CREATE,
				},
			]
		}
	},
	
	mounted(){
		// this.titleHeight = this.$el.offsetHeight;
		
		this._updateActive();
	},
	
	watch: {
		$route (to, from) {
			this._updateActive();
		},
	},
	
	methods:{
		
		_onItemClick(item){
			if (item.disabled) return;
			
			// this.opened = false;
			
			item.action && item.action();
		},
		
		_updateActive(){
			const IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN = this.items.find(item => item.path === this.$router.currentRoute.path);
			
			this.isActive = IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN;
		},
		
		handleChange(v){
			let param = v[v.length - 1];
			let paramType = {}.toString.call(param).slice(8, -1);
			
			switch(paramType){
				case 'String':
					this.$router.push(param);
					break;
				
				case 'Function':
					param();
					break;
			}
		}
	}
}
</script>

<style>
.el-cascader .el-input .el-input__inner,
.el-cascader .el-cascader__label{
	display: none;
}

.el-cascader .el-input{
	padding: 0;
	width: 40px;
	height: 40px;
	background-color: #4788ff;
	border-radius: 40px;
	text-align: center;
}

.el-cascader .el-input:after {
	color: white;
	content: '+';
}

.el-cascader .el-input__suffix .el-input__icon {
	display: none;
}

/*.ui-menu-top-create {
	margin-left: 15px;
}

.ui-menu-top-create__button{
	padding: 0;
	width: 40px;
	height: 40px;
	border-radius: 40px;
}

.ui-menu-top-create__button--active{
	background: #fff;
	border-color: #fff;
	color: #4788ff;
}*/
</style>