<template>
	<el-dropdown
		v-bind:class="{
			'ui-top-menu-dropdown': true,
		}"
		
		@command="_onItemClick"
	>
		<!-- size = medium / small / mini -->
		<el-button
			size="medium"
			v-bind:disabled='disabled'
			
			v-bind:class="{
				'ui-top-menu-dropdown__button': true,
				'ui-top-menu-dropdown__button--active': isActive,
				'ui-top-menu-dropdown__button--disabled': disabled
			}"
		>
			<slot></slot><i class="el-icon-arrow-down el-icon--right"></i>
		</el-button>
		
		<el-dropdown-menu slot="dropdown">
			<el-dropdown-item
				v-for='item in items'
				:key='item.path'
				
				v-bind:class="{
					'ui-top-menu-dropdown__item--active': _isItemActive(item)
				}"
				
				v-bind:disabled='item.disabled'
				v-bind:command='item'
			>{{item.text}}</el-dropdown-item>
			<!-- <el-dropdown-item>Action 1</el-dropdown-item>
			<el-dropdown-item>Action 2</el-dropdown-item>
			<el-dropdown-item>Action 3</el-dropdown-item>
			<el-dropdown-item disabled>Action 4</el-dropdown-item>
			<el-dropdown-item divided>Action 5</el-dropdown-item> -->
		</el-dropdown-menu>
	</el-dropdown>
	<!-- <div
		v-bind:class="{
			'ui-top-menu-dropdown': true,
			
			'ui-top-menu-dropdown--blue': bg == 'blue',
			'ui-top-menu-dropdown--green': bg == 'green',
			
			'ui-top-menu-dropdown--size-5': size == 5,
			'ui-top-menu-dropdown--size-3': size == 3,
			
			'ui-top-menu-dropdown--disabled': disabled
		}"
	>
		
		
		<div
			@click='_onTitleClick'
		>
			
			
			<slot></slot>˅
		</div>
		
		<div
			v-bind:class="{
				'ui-top-menu-dropdown__items': true,
				'ui-top-menu-dropdown__items--opened': opened,
			}"
			
			v-bind:style="{
				top: titleHeight + 'px'
			}"
		>
			<div
				v-for='item in items'
				
				v-bind:class="{
					'ui-top-menu-dropdown__item': true,
					'ui-top-menu-dropdown__item--disabled': item.disabled,
				}"
				
				@click='_onItemClick(item)'
			>{{item.text}}</div>
		</div>
	</div> -->
</template>


<script>
export default {
	props: {
		items: {default: () => []},
		
		bg: {
			default: 'green'
		},
		
		size: {
			default: 5
		},
		
		disabled: {
			default: false
		}
	},
	
	data(){
		return {
			// opened: false,
			// titleHeight: undefined,
			isActive: false
		}
	},
	
	mounted(){
		// this.titleHeight = this.$el.offsetHeight;
		
		this._updateActive();
	},
	
	watch: {
		$route (to, from) {
			this._updateActive();
		},
	},
	
	methods:{
		/*_onTitleClick(){
			if (this.disabled) return;
			
			this.opened = !this.opened;
			
			if (this.opened) {
				let onDocClick = () => {
					this.opened = false;
					document.removeEventListener('click', onDocClick);
				}
				
				setTimeout(()=>{
					document.addEventListener('click', onDocClick);
					
				})
				
				
			}
		},
		*/
		_onItemClick(item){
			if (item.disabled) return;
			
			// this.opened = false;
			
			item.action && item.action();
		},
		
		_updateActive(){
			const IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN = this.items.find(item => {
				if ('path' in item) {
					return item.path === this.$router.currentRoute.path;
					
				} else if ('paths' in item) {
					return item.paths.includes(this.$router.currentRoute.path);
				}
			});
			
			this.isActive = IS_CURRENT_PATH_WITHIN_THIS_DROPDOWN;
		},
		
		_isItemActive(item){
			return item.path === this.$router.currentRoute.path;
		}
	}
}
</script>


<style>
.ui-top-menu-dropdown {
	margin-left: 15px;
}

.ui-top-menu-dropdown__button{
	color: #fff;
	background: black;
	border-color: black;
}

.ui-top-menu-dropdown__button:hover{
	color: #fff;
	background: #4788ff;
	border-color: #4788ff;
}

.ui-top-menu-dropdown__button--active{
	background: #fff;
	border-color: #fff;
	color: #4788ff;
}

.ui-top-menu-dropdown__button--disabled{
	background: #666 !important;
	border-color: #666 !important;
	
}

.ui-top-menu-dropdown__item--active{
	background-color: #4788ff;
	color: #fff;
}
/*.ui-top-menu-dropdown {
	position: relative;
	display: inline-block;
	border-radius: 3px;
	cursor: pointer;
	color: #fff;
}

.ui-top-menu-dropdown--blue {
	background-color: #4788ff;
}

.ui-top-menu-dropdown--green {
	background-color: #01973d;
}

.ui-top-menu-dropdown--disabled {
	cursor: default;
	background-color: #aeaeae;
}

.ui-top-menu-dropdown--size-3 {
	padding: 5px 30px;
}

.ui-top-menu-dropdown--size-5 {
	padding: 7px 40px;
}

.ui-top-menu-dropdown__items{
	position: absolute;
	left: 0;
	z-index: 9999;
	color: black;
	display: none;
}

.ui-top-menu-dropdown__items--opened {
	display: block;
}

.ui-top-menu-dropdown__item{
	
}

.ui-top-menu-dropdown__item--disabled{
	cursor: default;
	background-color: #aeaeae;
	
}*/
</style>