<template>
	<UIControlsBlock
		class='ui-pagination'
	>
		<slot name='left'></slot>
		
		<el-pagination
			background
			layout="prev, pager, next"
			:page-size='1'
			:total='pagesCount'
			:pager-count='5'
			:current-page='page'
			@current-change='_onPageChange'
		>
		</el-pagination>
		
		<div
			v-if='desc !== undefined || sort !== undefined'
		>
			<UIIcon
				v-if='desc !== undefined'
				
				v-bind:type="desc === SORT_DESC.UP ? 'sort-up' : 'sort-down'"
				v-bind:hoverBg='false'
				
				@click='_onDescClick'
			></UIIcon>
			
			<UISelect
				v-if='sort !== undefined'
				
				style="margin-left: 15px;"
				
				v-bind:value='sort'
				v-bind:variants="sortVariants"
				
				@input="$emit('update:sort', $event)"
			></UISelect>
			
			<UISelect
				v-if='countOnPageVariants !== undefined'
				
				style="margin-left: 15px; width: 80px;"
				
				v-bind:value='countOnPage'
				v-bind:variants="countOnPageVariants"
				
				@input="_onCountOnPageChange"
			></UISelect>
			
		</div>
		
		<slot name='right'></slot>
		
	</UIControlsBlock>
</template>


<script>

import {
	SORT_DESC
} from '@/common/config.js';

export default {
	props:{
		pages: {default: 0},
		page: {default: 1},
		total: {},
		countOnPage: {},
		countOnPageVariants: {},
		desc: {},
		sort: {},
		sortVariants: {},
	},
	
	data(){
		return {
			SORT_DESC,
			
			// currentPage: this.page,
			
			// countOnPage: this.countOnPage,
		}
	},
	
	computed:{
		pagesCount(){
			// Если установлено общее количество сущностей и из количество на странице, то количество страниц устанавливается по формуле: количество страниц = общее количество / количество на странице. Округлисть к большему целому.
			if (this.total && this.countOnPage) {
				return Math.ceil(this.total / this.countOnPage);
			}
			
			return this.pages;
		}
	},
	
	methods:{
		/*setTotal(value){
			this.total = value;
		},*/
		
		/*setCountOnPage(value){
			this.countOnPage = value;
			
		},*/
		
		_onPageChange(page){
			// console.log('page', page);
			this.$emit('update:page', page)
			// this.$emit('page-change', page);
		},
		
		_onDescClick(){
			this.$emit('update:desc', this.desc === SORT_DESC.UP ? SORT_DESC.DOWN : SORT_DESC.UP);
		},
		
		_onCountOnPageChange(value){
			this.$emit('update:countOnPage', value);
			this.$emit('update:page', 1);
		}
	}
}
</script>


<style>
.ui-pagination {
	display: flex;
	justify-content: space-around;
}
.ui-pagination .number.active {
	background-color: #01973d !important;
}
</style>