<template>
	<el-dialog
		v-bind:class="{
			'ui-popup': true
		}"
		:title="title"
		:visible.sync="isVisible"
		@close='_onClose'
		v-bind:width='width'
		append-to-body
	>
		<slot></slot>
	</el-dialog>
</template>

<script>
export default {
	props:{
		title: {},
		visible: {default: false},
		width: {}
	},
	
	data(){
		return {
			isVisible: this.visible
		}
	},
	
	watch:{
		visible(){
			this.isVisible = this.visible;
		}
	},
	
	methods:{
		open(){
			this.isVisible = true;
		},
		
		close(){
			this.isVisible = false;
		},
		
		/*_onClosed(){
			this.$emit('closed');
		},*/
		
		_onClose(){
			this.$emit('close');
		}
	}
}
</script>

<style>
.ui-popup .el-dialog{
	width: 700px;
}

.ui-popup .el-dialog__header{
	background: #01973d;
}

.ui-popup .el-dialog__title{
	color: #fff;
}

.el-dialog__close{
	color: #fff !important;
}

</style>