<template>
	<!-- <div>
		<slot name='option'></slot>
	</div> -->
	<UISelect
		v-bind:value="value"
		v-bind:variants="variants"
		v-bind:label="label"
		v-bind:required="required"
		v-bind:isValid="isValid"
		v-bind:clearable='clearable'
		@input='_onInput'
		ref='uiSelect'
	></UISelect>
</template>


<script>
export default {
	props:{
		// У вариантов ОБЯЗАТЕЛЬНО должно быть изначально свойство disabled, чтобы оно отслеживалось в других селектах
		variants:{},
		value: {default: undefined},
		// selectedValues: {required: true},
		label: {},
		required: {},
		isValid: {},
		clearable: {default: false},
	},
	
	data(){
		return {
			prevValue: this.value
		}
	},
	
	watch:{
		value(){
			// Когда значение меняется из модели событие не срабатывает, и выбранный вариант не дисэйблится
			this.$refs.uiSelect.disableVariant(this.value);
			
			if (this.prevValue !== undefined) {
				this.$refs.uiSelect.enableVariant(this.prevValue);
			}
			this.prevValue = this.value;
		}
	},
	
	methods:{
		_onInput(value){
			this.$emit("input", value);
		}
	}
}
</script>