<template>
	<UISelectUserChange
		v-bind:value='value'
		v-bind:label='label'
		v-bind:multiple='multiple'
		@input='$emit("input", $event)'
		v-bind:variantsUrlParams='variantsUrlParams'
		class='ui-select-agent-change'
	></UISelectUserChange>
</template>


<script>
export default {
	props: {
		value: {},
		label: {},
		multiple: {},
		variantsUrlParams: {
			default(){return {whose: 'company'}}
		},
		
	}
}
</script>


<style>
.ui-select-agent-change{
	margin-right: 15px;
}

.ui-select-agent-change .ui-tooltip__wrapper{
	display: none;
}
.ui-select-agent-change .el-input__inner{
	border: none;
	color: #01973d;
}
</style>