<template>
	<UISelectExpand
		v-bind:value='value'
		@input='$emit("input", $event)'
		v-bind:label='label'
		v-bind:multiple='multiple'
		v-bind:required='required'
		v-bind:isValid='isValid'
		v-bind:fetchVariants='fetchVariants'
		v-bind:buttonTooltip="{
			title: 'Добавить сотрудника'
		}"
		v-on:add-click='_onAddClick'
		v-on:fetch-variants='$emit("fetch-variants")'
		ref='UISelectExpand'
	></UISelectExpand>
</template>


<script>
import {fetch} from '@/common/utils.js';
import {
	AGENT_CREATE_VISIBLE
} from '@/store/mutations.type';

import {URL_USERS_FOR_CHANGE} from '@/common/urls.config.js';


export default {
	props:{
		value:{},
		label:{},
		multiple: {},
		required:{},
		isValid:{},
		
		
		variantsUrl: {default: URL_USERS_FOR_CHANGE},
		variantsUrlParams: {},
	},
	
	data(){
		return {
			// usersServer: []
		}
	},
	
	created(){
		// this.fetchVariants();
		this.$root.$on('agent-save', params => this._onUserSave(params))
	},
	
	methods:{
		getVariants(){
			return this.$refs.UISelectExpand.getVariants();
		},
		
		getSelectedVariant(){
			return this.$refs.UISelectExpand.getSelectedVariant();
		},
		
		fetchVariants(){
			return fetch({
				url: this.variantsUrl,
				withCredentials: true,
				// logUrl: true,
				params: this.variantsUrlParams,
				
			}).then(({response})=>{
				// console.log('response', response);
				return response.agents.map(user=>{
					return {
						value: user.agent_id,
						label: user.last_name + ' ' + user.first_name,
						
						emails: user.emails,
						phones: user.phones,
						photo: user.photo
						
					}
				})
				// this.usersServer = response;
				
			})
		},
		
		_onAddClick(){
			// console.log('_onAddClick');
			this.$store.commit(AGENT_CREATE_VISIBLE, true);
		},
		
		_onUserSave(params){
			// console.log('_onUserSave', params);
			this.fetchVariants();
		}
	}
}
</script>