<!-- 
<UISelectExpand
	v-model='user.value'
	v-bind:label='user.label'
	v-bind:buttonTooltip="{
		title: 'Добавить руководителя подразделения'
	}"
	v-bind:variants='user.variants'
	v-on:add-click='_onAddClick'
></UISelectExpand>
 -->
<template>
	<div
		class='ui-select-expand'
	>
		<span v-bind:class="{
			'ui-select-expand__label': true,
			'ui-select-expand__label--required': required
		}">{{label}}</span>
		
		<UISelect
			v-bind:value='value'
			v-bind:variants='variants'
			v-bind:isValid='isValid'
			v-bind:multiple='multiple'
			@input="$emit('input', $event)"
			v-bind:fetchVariants='fetchVariants'
			v-on:fetch-variants='$emit("fetch-variants")'
			ref='UISelect'
		></UISelect>
		
		<UITooltip
			v-if='buttonTooltip'
			
			v-bind:title='buttonTooltip.title'
			
			class="ui-select-expand__add"
		>
			<UIButton
				@click='$emit("add-click")'
				type='green'
			>+</UIButton>
		</UITooltip>
		
		<UIButton
			v-else
			
			@click='$emit("add-click")'
			type='green'
			
			class="ui-select-expand__add"
		>+</UIButton>
	</div>
</template>


<script>
export default {
	props:{
		variants:{},
		value: {default: undefined},
		placeholder: {default: ''},
		clearable: {default: false},
		label: {},
		multiple: {},
		required: {default: false},
		isValid: {default: true},
		buttonTooltip: {},
		fetchVariants: {}
	},
	
	methods:{
		getVariants(){
			console.log(this.$refs);
			
			return this.$refs.UISelect.getVariants();
		},
		
		getSelectedVariant(){
			return this.$refs.UISelect.getSelectedVariant();
		},
	}
	
	/*data(){
		return {
			inputValue: this.value
		}
	},
	
	watch:{
		value(){
			this.inputValue = this.value;
		}
	},
	
	methods:{
		disableVariant(variantValue){
			let variant = this.variants.find(v=>v.value === variantValue);
			if (variant) {
				variant.disabled = true;
			}
			console.log(this.variants);
		},
		
		enableVariant(variantValue){
			let variant = this.variants.find(v=>v.value === variantValue);
			if (variant) {
				variant.disabled = false;
			}
		},
		
		_onChange(value){
			this.inputValue = value;
			this.$emit("input", value);
		}
	}*/
}
</script>


<style>
.ui-select-expand{
	display: inline-block;
}

.ui-select-expand__label{
	display: block;
}

.ui-select-expand__label--required:after{
	content: '*';
}

.ui-select-expand .ui-select{
	margin: 0;
}

.ui-select-expand .ui-select .el-input__inner{
	border-radius: 2px 0 0 2px;
}

/*.ui-select-expand .ui-tooltip__wrapper{
	display: inline-block;
}*/
.ui-select-expand .ui-button{
	margin: 0;
	height: 28px;
	line-height: 0;
	border-radius: 0 2px 2px 0;
	border-left: 0;
}
</style>