<template>
	<!-- <div>
		<slot name='option'></slot>
	</div> -->
	<div
		v-if='visible'
		v-bind:class="{
			'ui-select': true,
			'ui-select--is-invalid': !isValid,
			'ui-select--width-05': width == '0.5',
		}"
	>
		<!-- {{variants}} -->
		
		<span v-bind:class="{
			'ui-select__label': true,
			'ui-select__label--required': required
		}">{{label}}</span>
		
		<el-select
			v-bind:value="inputValue"
			v-bind:placeholder="placeholder"
			v-bind:clearable="clearable"
			v-bind:disabled="disabled"
			v-bind:multiple="multiple"
			v-bind:multiple-limit="multipleLimit"
			@change='_onChange'
		>
			<el-option
				v-for="v in selectVariants"
				:key="v.value"
				:label="v.label"
				:value="v.value"
				:disabled='v.disabled'
			>
			</el-option>
			
		</el-select>
	</div>
</template>


<script>
export default {
	props:{
		variants:{},
		value: {default: undefined},
		width: {},
		placeholder: {default: ''},
		clearable: {default: false},
		label: {},
		required: {default: false},
		isValid: {default: true},
		fetchVariants: {},
		visible: {default: true},
		disabled: {default: false},
		multiple: {default: false},
		multipleLimit: {},
		
	},
	
	data(){
		return {
			inputValue: this.value,
			selectVariants: this.variants
		}
	},
	
	created(){
		if (this.fetchVariants) {
			this.fetchVariants().then(variants=>{
				this.selectVariants = variants;
				
				this.$emit("fetch-variants");
			});
		}
	},
	
	watch:{
		value(){
			this.inputValue = this.value;
		},
		
		variants(){
			this.selectVariants = this.variants;
		}
	},
	
	methods:{
		disableVariant(variantValue){
			let variant = this.selectVariants.find(v=>v.value === variantValue);
			if (variant) {
				variant.disabled = true;
			}
		},
		
		enableVariant(variantValue){
			let variant = this.selectVariants.find(v=>v.value === variantValue);
			if (variant) {
				variant.disabled = false;
			}
		},
		
		getVariants(){
			return this.selectVariants;
		},
		
		getSelectedVariant(){
			return this.selectVariants && this.selectVariants.find(v=>v.value === this.inputValue);
		},
		
		_onChange(value){
			this.inputValue = value;
			this.$emit("input", value);
		}
	}
}
</script>


<style>
.ui-select{
	display: inline-block;
	width: 190px;
	margin: 0;
}

.ui-select--width-05{
	width: 95px;
	margin-right: 7.5px;
}

.ui-select__label{
	display: block;
}

.ui-select__label--required:after{
	content: '*';
}

.ui-select .el-input__inner{
	box-sizing: border-box;
	width: 100%;
	height: 28px;
	padding: 5px;
	border: 1px solid #01973d;
	border-radius: 2px;
	color: #01973d;
}

.ui-select .el-select,
.ui-select .el-input{
	width: 100%;
	
}

.ui-select .is-focus .el-input__inner,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus
{
	border-color: #01973d;
}

.el-select-dropdown__item.selected {
  color: #01973d;
}

.ui-select .el-input .el-select__caret{
  line-height: 1;
	color: #01973d;
}

.ui-select.ui-select--is-invalid .el-input__inner,
.ui-select.ui-select--is-invalid .is-focus .el-input__inner
{
	border-color: red;
}

.ui-select .el-input__suffix{
	top: 0;
}

.ui-select .is-focus .el-input__suffix{
	top: 0;
}
.el-scrollbar__thumb {
	background-color: #01973d;
}



/* .ui-select__input{
	padding: 5px;
	border: 1px solid #666;
	border-radius: 2px;
	color: #666;
} */
</style>