<template>
<div
	v-bind:class="{
		'ui-spoiler': true,
		'ui-spoiler--opened': opened,
	}"
>
	<slot></slot>
</div>
</template>

<script>
export default {
	data(){
		return {
			opened: false
		}
	},
	
	methods:{
		open(){
			this.opened = true;
		},
		
		close(){
			this.opened = false;
			
		},
		
		toggle(){
			this.opened ? this.close() : this.open();
			return this.opened;
		}
	}
}
</script>


<style>
.ui-spoiler {
	height: 0;
	overflow: hidden;
	
	-webkit-transition: height .25s;
	transition: height .25s;
}

/*
Чтобы сделать плавное сворачивание, нужно переопределить высоту для .ui-spoiler--opened, например:
.company-info .ui-spoiler--opened{
	height: 200px;
}
*/
.ui-spoiler--opened{
	height: auto;
}
</style>