<!-- 
Пример использования:

<UITable
	v-bind:columns="[
		{
			key: 's',
			label: 'string',
			sortMethod: 'string'
		},
		{
			key: 'n',
			label: 'number',
			sortMethod: 'number'
		},
		{
			key: 'd',
			label: 'date',
			sortMethod: 'date'
		},
	]"
	
	v-bind:values="[
		{s: 'c', n: 2, d: '12.09.1998'},
		{s: 'a', n: 1, d: '10.10.1990'},
		{s: 'b', n: 3, d: '06.07.2010'},
		{s: 'b', n: 3, d: '07.07.2010'},
		{s: 'b', n: 3, d: '05.07.2010'},
	]"
	
	height='250'
></UITable>
 -->

<template>
	<el-table
		v-if='values'
		stripe
		border
		:data="values"
		style="width: 100%"
		v-bind:height="height"
		
	>
		<el-table-column
			v-bind:sortable='!!c.sortMethod'
			v-bind:sort-method="getSortMethod(c.sortMethod, c.key)"
			v-for="c in columns"
			v-bind:prop="c.key"
			v-bind:label="c.label"
		>
		</el-table-column>
		<!-- <el-table-column
		prop="offer_type_name"
		label=""
		width="180">
		</el-table-column>
		<el-table-column
		prop="activity_id"
		label="Номер"
		width="180">
		</el-table-column>
		<el-table-column
		prop="object_type_name"
		label="Тип">
		</el-table-column> -->
	</el-table>
</template>


<script>
import {mlsDateToDate} from '@/common/utils.mls.js';

export default {
	props:{
		columns:{},
		values:{},
		height: {default: 'auto'}
	},
	
	methods:{
		/*
		sortKey - ключ в объектах из массива this.values, по которому сортировать.
		
		method - способ сортировки (как числа, как строки, как даты)
		*/
		getSortMethod(method, sortKey){
			switch(method){
				case 'number':
					return (v1, v2)=>v2[sortKey] - v1[sortKey];
					
				case 'string':
					return (v1, v2)=>v1[sortKey] < v2[sortKey] ? 1 : -1;
					
				case 'date':
					return (v1, v2)=>mlsDateToDate(v2[sortKey]) - mlsDateToDate(v1[sortKey]);
			}
		},
		
	}
}
</script>