<template>
	<label
		class='ui-textarea'
	>
		<span
			v-bind:class="{
				'ui-textarea__label': true,
				
			}"
		>{{label}}</span>
		
		<textarea
			v-bind:value='value'
			@input='$emit("input", $event.target.value)'
			
			v-bind:style="{
				width: '100%'
			}"
			
		></textarea>
	</label>
</template>


<script>
export default {
	props: {
		value: {},
		label: {},
	}
}
</script>


<style>
.ui-textarea{
	display: inline-block;
	margin-bottom: 15px;
	width: 100%;
}

.ui-textarea__label{
	display: block;
		
}
</style>