<template>
	<UITooltip
		v-bind:title='title'
	>
		<span class="ui-tooltip-question__question not-selectable-text">?</span>
	</UITooltip>
</template>


<script>
export default {
	props:{
		title: {}
	}
}
</script>


<style>
.ui-tooltip-question__question{
	display: inline-block;
	
	width: 15px;
	height: 15px;
	border-radius: 15px;
	
	font-size: 11px;
	/*line-height: 11px;*/
	
	text-align: center;
	background: #666;
	color: white;
}
</style>