<template>
<div
	v-bind:class="{
		'ui-tooltip__wrapper': true
	}"
		@mouseenter='_onMouseEnter'
		@mouseleave='_onMouseLeave'
>
	<slot
	></slot>
	
	<div
		v-bind:class="{
			'ui-tooltip__popup': true,
			'ui-tooltip__popup--shown': isShown,
			'ui-tooltip__popup--top': position == 'top',
		}"
		
		ref='tooltipPopover'
		
		@mouseenter='_onTooltipMouseEnter'
	>{{title}}</div>
</div>
</template>


<script>
export default {
	props: {
		title: {},
		position: {default: 'top'},
		offset: {default: 5}
	},
	
	data(){
		return {
			isShown: false,
			// hideTimeout: null,
		}
	},
	
	methods:{
		show(){
			// if (this.hideTimeout) {
			// 	clearTimeout(this.hideTimeout);
			// }
			
			this.isShown = true;
			
			// Чтобы не прыгала (добавляются сначала display:block, а потом координаты).
			this.$refs.tooltipPopover.style.visibility = 'hidden';
			// this.$refs.tooltipPopover.style.opacity = 0;
			
			setTimeout(()=>{
				this._initPosition();
			})
		},
		
		hide(){
			// this.$refs.tooltipPopover.style.opacity = 0;
			this.isShown = false;
			
			// this.hideTimeout = setTimeout(()=>{
			// }, 200);
		},
		
		_onMouseEnter(e){
			this.show();
		},
		
		_onMouseLeave(){
			this.hide();
		},
		
		_onTooltipMouseEnter(){
			this.hide();
		},
		
		_initPosition(){
			let elemWidth = this.$el.clientWidth;
			
			let elemPopover = this.$refs.tooltipPopover;
			let tooltipHeight = elemPopover.offsetHeight;
			let tooltipWidth = elemPopover.offsetWidth;
			
			switch(this.position){
				case 'top':
					elemPopover.style.top = -tooltipHeight - this.offset + 'px';
					elemPopover.style.left = elemWidth / 2 - tooltipWidth / 2 + 'px';
					break;
			}
			
			// this.$refs.tooltipPopover.style.opacity = '';
			this.$refs.tooltipPopover.style.visibility = '';
			
		}
	}
}
</script>


<style>
.ui-tooltip__wrapper{
	position: relative;
	/*margin: 15px;*/
	/*outline: 2px solid green;*/
	display: inline-block;
}

.ui-tooltip__popup{
	display: none;
	
	position: absolute;
	z-index: 9999;
	
	padding: 5px 10px;
	border-radius: 3px;
	
	background: black;
	color: #fff;
	
	opacity: .7;
	/*transition: opacity .2s;*/
}

.ui-tooltip__popup--shown{
	display: block;
}

.ui-tooltip__popup--top{
	/*top: 0;
	left: 0;*/
}
</style>